@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/*  UI  */

@font-face{
    font-family:NanumGothic;
    weight:300;
    src:url(../font/Nanumgothic.eot);
    src:local('※'), url(../font/nanumgothic.woff) format('woff');
}
@font-face{
    font-family:NanumGothic;
    weight:600;
    src:url(../font/Nanumgothic-Bold.eot);
    src:local('※'), url(../font/nanumgothic-Bold.woff) format('woff');
}
@font-face{
    font-family:NanumGothic;
    weight:bold;
    src:url(../font/NanumGothicExtraBold.eot);
    src:local('※'), url(../font/nanumgothic-Bold.woff) format('woff');
}



/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'나눔고딕',NanumGothic,Helvetica,sans-serif;font-size:12px;color:#222;letter-spacing:-.05em}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{color:#222;text-decoration:none}
a:hover,a:active,a:focus{text-decoration:none;}

.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}

.blind2{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}

#content .img{max-width:1200px;margin:2% auto 0;text-align:center;height:120px;visibility:visible;}
#content .img img{width:50%;}
.header_wrap{max-width:1200px;margin:0 auto;padding:0 20px;}

.header_wrap h2{font-size:2em;background:url(../images/logo.gif) no-repeat ;height:60px;}
.content_wrap{max-width:900px;margin:2% auto 0;background:url(../images/free_trial_bg.png) no-repeat 50% 50%;clear:both;}
.content_wrap h3{text-align:center;line-height:2em; font-size:3em;margin:0 auto 1em;; padding:0;font-weight:600;border-bottom:1px solid #D7D7D7;width:60%;}

.content_wrap p{font-size:1.6em;width:53%;margin:0em auto 0.5em;text-align:center;}
.content_wrap input{height:24px; width:50%;margin:0.5em auto 0;display:block;font-size:1.8em; border:4px solid #82C2FF;padding:15px;text-align:center;letter-spacing:0.3em;font-weight:700;}
.content_wrap input:focus{border:4px solid #82FFC6;}
.content_wrap .btn{width:50%;margin:2% auto;padding:1em 15px;border:4px solid #4ea4fa;background:#4ea4fa;}
.content_wrap .btn a{width:100%;text-align:center;display:block;font-size:2em;color:#FFF;}
.content_wrap .btn:hover{background:#486481;border:4px solid #486481;}
.content_wrap  p.info{font-size:1.2em;border:1px solid #FFBE60; padding:7px 7px 7px 50px;text-align:left;background:url(../images/warning2.png) no-repeat 5px 5px #FFF8E4;}

footer{position:fixed;bottom:0;width:100%;height:131px; background:url(../images/common_sub_visual.png) 50% ;color:#fff;padding:0 20px;
      -webkit-transition:opacity 0.6s,bottom 0.6s;transition:opacity 0.6s,bottom 0.6s}
footer p{max-width:650px;margin:0 auto;font-size:1.6em; font-weight:600;margin-top:0.6em;}
footer p span{font-size:1.8em;}


@media all and ( max-width:1200px ) {
	#content .img img{width:55%}
	
	}
@media all and ( max-width:1000px ) {
	#content .img img{width:65%; }
	
	}
@media all and ( max-width:800px ) {
	#content .img img{width:75%; }
	
	}
@media all and ( max-height:800px ) {
	footer{bottom:-131px;opacity:0;filter:alpha(opacity=0)}
	
	}