@charset "utf-8";

/* 초기화 */
*{margin:0; padding:0;}
body, div, ul, li, dl, dt, dd, ol, p, h1, h2, h3, h4, h5, h6, form, img, span, table, tr, td, select, input, textarea, option{margin:0; padding:0;}
/*html {overflow-y:scroll}*/
body {margin:0;padding:0;font-size:0.75em; font-family: Arial, sans-serif;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

#hd ul, nav ul, #ft ul {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle}
input, button {margin:0;padding:0;;font-size:1em}
button {cursor:pointer}

textarea, select {;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a{outline: 0;}
/* 2015. 06. 03 | KSM | remove a link color #000; */
a:link, a:visited {/*color:#000;*/text-decoration:none}
a:hover, a:focus, a:active {/*color:#000; text-decoration:underline*/}
/* 2015. 06. 03 | KSM | remove a link color #000; */

/* 2015. 06. 11 | KSM | remove none_bg.png */
p,h1,h2,h3,h4,h5,div,strong,span,li,td,dl{/*background:url(../img/none_bg.png);*/-webkit-text-size-adjust:none;}
/* 2015. 06. 11 | KSM | remove none_bg.png */

 /* -----기본 링크스타일----- */

caption, legend{font-size:0; width:0; height:0; overflow:hidden; position:absolute; visibility:hidden;}

img{border:0px;}

fieldset,img{border:0; vertical-align:top;}

table{border-collapse:collapse; border-spacing:0; border:0;}

input,textarea,select{font-family:inherit; font-size:inherit; font-weight:inherit;}

input[type=password]{IME-MODE: disabled;}

ul,ol,dl{list-style:none;}

textarea{overflow:auto;} 

button,label{cursor:pointer;}

hr{display:none; clear:both;}