@charset "utf-8";

/*------overview------*/
.allinone_link_p{position:fixed; left:50%; bottom:100px; margin:0 0 0 384px; z-index:100;}
.help_quick{position:fixed; left:50%; top:38%; margin:0 0 0 410px; z-index:100;}
.help_quick li{text-align:right;}

.common_quick{position:fixed; left:50%; top:44%; margin:0 0 0 410px; z-index:100;}
.common_quick li{text-align:right;}

.overview_list_ul{position:relative; width:100%; overflow:hidden; margin:0 auto;}
.overview_list_ul li{float:left; position:relative; width:350px; margin:0 15px 0 0;}
.overview_list_ul li.last{margin:0;}
.overview_list_ul li a{display:block;}
.overview_list_ul li .overview_list_div{position:relative; width:100%; overflow:hidden;}
.overview_list_ul li .overview_list_div .overview_box_tit{position:absolute; left:0; top:40px; width:100%; font-size:28px; font-weight:bold; color:#fff; text-align:center;}
.overview_list_ul li .overview_list_div .overview_dl{position:absolute; top:376px; width:100%; text-align:center;}
.overview_list_ul li .overview_list_div .overview_dl dt{font-size:14px; font-weight:bold; color:#fff; margin:0 0 10px 0; text-align:center;}
.overview_list_ul li .overview_list_div .overview_dl dd{font-size:14px; color:#fff; line-height:1.4;}

.overview_list_ul li .overview_list_div .overview_dl02{position:absolute; left:30px; top:376px; width:312px;}
.overview_list_ul li .overview_list_div .overview_dl02 dt{font-size:14px; font-weight:bold; color:#fff; margin:0 0 10px 0; text-align:center;}
.overview_list_ul li .overview_list_div .overview_dl02 dd{font-size:14px; color:#fff; line-height:1.4; text-align:left;}

.overview_list_ul li:hover .overview_hover_bg{display:block;}
.overview_hover_bg{display:none; position:absolute; left:0; top:0; z-index:10;}

.overview_top_arrow{position:absolute; left:500px; top:0; z-index:10; cursor:pointer;}
.overview_bottom_arrow{position:absolute; left:500px; bottom:0; z-index:10; cursor:pointer;}

.overview_common_div{position:relative; width:100%; overflow:hidden;}
.overview_con_img{position:absolute; left:0; top:0;}
.overview_left_div{float:left; position:relative; width:50%; min-height:480px; overflow:hidden; margin:0 auto; padding:110px 0;}
.overview_right_div{float:right; position:relative; width:50%; min-height:480px; overflow:hidden; margin:0 auto; padding:110px 0;}
.overview_440{position:relative; width:440px; overflow:hidden; margin:0 auto; /*adding:110px 0;*/}

.overview_circle_ul{position:relative; width:370px; overflow:hidden; margin:0 auto 40px auto;}
.overview_circle_ul li{float:left; width:33.33%;}
.overview_circle_ul li .overview_circle_dl{position:relative; width:100%; overflow:hidden;}
.overview_circle_ul li .overview_circle_dl dt{text-align:center; margin:0 0 10px 0;}
.overview_circle_ul li .overview_circle_dl dd{text-align:center; font-size:14px; color:#b2b2b2;}

.overview_con_p{position:relative; width:100%; overflow:hidden; font-size:15px; color:#a8a8a8; text-align:center;}

.overview_check_ul{position:relative; width:400px; overflow:hidden; margin:0 auto;}
.overview_check_ul li{float:left; width:44%; line-height:2; color:#b2b2b2; font-size:14px; background:url(/index/en/img/overview_checkbox.gif) no-repeat 0 center; padding:0 0 0 6%; letter-spacing:-0.5px; cursor:pointer;}
.overview_check_ul li:hover{background:url(/index/en/img/overview_checkbox_hover.gif) no-repeat 0 center;}

.overview_con_tit01{position:relative; width:100%; overflow:hidden; font-size:48px; color:#64d1e1; font-weight:bold; text-align:center; margin:70px auto 48px auto;}
.overview_con_tit02{position:relative; width:100%; overflow:hidden; font-size:48px; color:#23a1e3; font-weight:bold; text-align:center; margin:70px auto 48px auto;}
.overview_con_tit03{position:relative; width:100%; overflow:hidden; font-size:48px; color:#696969; font-weight:bold; text-align:center; margin:70px auto 48px auto;}

.overview_con_color_tit02{position:relative; width:100%; overflow:hidden; margin:70px auto 48px auto;}
.overview_con_color_tit02 dt{width:340px; font-size:48px; color:#23a1e3; font-weight:bold; text-align:center; padding:0 0 10px 0; border-bottom:4px solid #ececec; margin:0 auto 20px auto;}
.overview_con_color_tit02 dd{font-size:16px; color:#4c4c4c; line-height:1.4; text-align:center;}

.overview_con_color_tit03{position:relative; width:100%; overflow:hidden; margin:70px auto 48px auto;}
.overview_con_color_tit03 dt{width:340px; font-size:48px; color:#696969; font-weight:bold; text-align:center; padding:0 0 10px 0; border-bottom:4px solid #ececec; margin:0 auto 20px auto;}
.overview_con_color_tit03 dd{font-size:16px; color:#696969; line-height:1.4; text-align:center;}

.overview_con_color_tit01{position:relative; width:100%; overflow:hidden; margin:70px auto 48px auto;}
.overview_con_color_tit01 dt{width:300px; font-size:48px; color:#64d1e1; font-weight:bold; text-align:center; padding:0 0 10px 0; border-bottom:4px solid #ececec; margin:0 auto 20px auto;}
.overview_con_color_tit01 dd{font-size:16px; color:#696969; line-height:1.4; text-align:center;}


/*------product------*/
.blue_link_a{color:#237ffc !important; font-size:14px; font-weight:bold; margin:0 0 0 10px;}
.blue_link_a02{color:#237ffc !important; font-size:14px; font-weight:bold;}

.sub_visual{position:relative; width:100%; overflow:hidden; margin:0 auto; background:#031d38;}
.sub_visual .sub_visual_1080{position:relative; width:100%; height:360px;  overflow:hidden; margin:0 auto;}
.sub_visual .sub_visual_1080 .sub_visual_p{background:url(/index/en/img/new_product_sub_visual.jpg) no-repeat center 0; height:360px;}

.product_dot_ul{position:relative; width:100%; overflow:hidden; margin:0 auto;}
.product_dot_ul li{font-size:14px; font-weight:bold; color:#999999; background:url(/index/en/img/product_con_black_dot.gif) no-repeat 0 center; line-height:1.4; padding:0 0 0 20px;}

.product_visual_txt01{position:absolute; left:50%; top:60px; margin:0 0 0 -520px;}
/*.product_visual_txt01 dt{font-size:48px; font-weight:bold; color:#ffffff; margin:0 0 16px 0;}*/
.product_visual_txt01 dd{font-size:18px; color:#fff; font-style:italic;}

.product_visual_txt02{position:absolute; left:50%; top:174px; margin:0 0 0 -520px;}
.product_visual_txt02 dt{font-size:14px; color:#b2b2b2; margin:0 0 8px 0;}
.product_visual_txt02 dd{}
.product_visual_txt02 dd a{font-size:14px; color:#94d7f9; text-decoration:underline;}

.product_link_tab{position:absolute; bottom:0; width:100%; height:80px; background:url(/index/en/img/tab_bg.png) repeat-x 0 0;}
.product_link_tab .product_link{position:relative; width:1080px; overflow:hidden; margin:0 auto;}
.product_link_tab .product_link li{float:left; width:359px; margin:0 1px 0 0;}
.product_link_tab .product_link li:last-child{width:360px; margin:0;}
.product_link_tab .product_link li a{display:block; font-size:24px; font-weight:bold; color:#e0e0e0; text-align:center; line-height:80px; letter-spacing:-1px;}

.product_link_tab .product_link li.product_tab01{background:url(/index/en/img/product_nor_tab01.png) no-repeat 0 0;}
.product_link_tab .product_link li.product_tab01:hover, .product_link_tab .product_link li.product_tab01_on{background:url(/index/en/img/product_sel_tab01.png) no-repeat 0 0;}
.product_link_tab .product_link li.product_tab01:hover a, .product_link_tab .product_link li.product_tab01_on a{color:#fff}

.product_link_tab .product_link li.product_tab02{background:url(/index/en/img/product_nor_tab02.png) no-repeat 0 0;}
.product_link_tab .product_link li.product_tab02:hover, .product_link_tab .product_link li.product_tab02_on{background:url(/index/en/img/product_sel_tab02.png) no-repeat 0 0;}
.product_link_tab .product_link li.product_tab02:hover a, .product_link_tab .product_link li.product_tab02_on a{color:#fff}

.product_link_tab .product_link li.product_tab03{background:url(/index/en/img/product_nor_tab03.png) no-repeat 0 0;}
.product_link_tab .product_link li.product_tab03:hover, .product_link_tab .product_link li.product_tab03_on{background:url(/index/en/img/product_sel_tab03.png) no-repeat 0 0;}
.product_link_tab .product_link li.product_tab03:hover a, .product_link_tab .product_link li.product_tab03_on a{color:#fff}

.product_content{position:relative; width:1040px; overflow:hidden; margin:0 auto;}
.sub_common_h3{position:relative; width:100%; overflow:hidden; margin:0 auto 0 auto; font-size:32px; font-weight:bold; color:#090909;}
.underline_tit{position:relative; width:100%; overflow:hidden; margin:0 auto; font-size:28px; font-weight:bold; color:#b2b2b2; background:url(/index/en/img/sub_tit_under_line.gif) no-repeat 0 54px; text-indent:20px; padding:30px 0;}

.product_box_div01{position:relative; width:100%; overflow:hidden; margin:0 auto; background:#fff; padding:30px 0;}
.product_box_div02{position:relative; width:100%; overflow:hidden; margin:0 auto; background:#fcfcfc; padding:30px 0 0 0;}
.product_box_div03{position:relative; width:100%; overflow:hidden; margin:0 auto; background:#fcfcfc; padding:30px 0;}
.product_box_div04{position:relative; width:100%; overflow:hidden; margin:0 auto; background:#fff;}

.sub_a_link_ul01{position:absolute; left:204px; top:10px;}
.sub_a_link_ul01 li{float:left; margin:0 14px 0 0;}
.sub_a_link_ul01 li:last-child{margin:0;}
.sub_a_link_ul01 li a{font-size:18px; font-weight:bold; color:#999999;}
.sub_a_link_ul01 li:hover a{color:#3fbdc3; text-decoration:underline;}

.sub_a_link_ul02{position:absolute; left:230px; top:10px;}
.sub_a_link_ul02 li{float:left; margin:0 14px 0 0;}
.sub_a_link_ul02 li:last-child{margin:0;}
.sub_a_link_ul02 li a{font-size:18px; font-weight:bold; color:#999999;}
.sub_a_link_ul02 li:hover a{color:#3fbdc3; text-decoration:underline;}

.product_top_div{position:relative; width:100%; overflow:hidden; margin:60px auto 30px auto; background:url(/index/en/img/anysupport_con_img01.gif) no-repeat 96% 0;}
.product_top_div02{position:relative; width:100%; overflow:hidden; margin:60px auto 30px auto; background:url(/index/en/img/mobileedition_con_img01.gif) no-repeat 94% 0; padding:0 0 30px 0;}
.product_top_div03{position:relative; width:100%; overflow:hidden; margin:60px auto 30px auto; background:url(/index/en/img/videoedition_con_img01.gif) no-repeat 94% bottom;}

.product_top_dl01{position:relative; width:100%; overflow:hidden;}
.product_top_dl01 dt{font-size:22px; color:#999999; line-height:1.6; margin:0 0 50px 0;}
.product_top_dl01 dd{overflow:hidden;}
.product_top_dl01 dd .product_top_ul{position:relative; width:100%; overflow:hidden;}
.product_top_dl01 dd .product_top_ul li{float:left; margin:0 20px 0 0; width:192px;}
.product_top_dl01 dd .product_top_ul li:last-child{margin:0;}
.product_top_dl01 dd .product_top_ul li a{display:block;}
.product_top_dl01 dd .product_top_ul li .product_top_dl02{position:relative; width:192px; overflow:hidden;}
.product_top_dl01 dd .product_top_ul li .product_top_dl02 dt{float:left; width:42px; margin:0 10px 0 0 !important;}
.product_top_dl01 dd .product_top_ul li .product_top_dl02 dd{float:right; width:140px; font-size:12px; color:#666666; font-style:italic; background:url(/index/en/img/pdf_arrow.gif) no-repeat right bottom; line-height:1.4; padding:8px 0 0 0;}

.product_center_dl01{position:relative; width:400px; overflow:hidden; margin:0 auto 20px auto;}
.product_center_dl01 dt{font-size:18px; font-weight:bold; color:#999999; line-height:1.6; margin:0 0 20px 0;}
.product_center_dl01 dt .product_italic_span{font-size:24px; font-style:italic; color:#000000;}
.product_center_dl01 dd{font-size:14px; color:#808080; line-height:1.4;}

.product_center_dl02{position:relative; width:420px; overflow:hidden; margin:0 auto 20px auto;}
.product_center_dl02 dt{font-size:18px; font-weight:bold; color:#999999; line-height:1.6; letter-spacing:-1px;}
.product_center_dl02 dt .product_italic_span{font-size:24px; font-style:italic; color:#000000;}
.product_center_dl02 dd{font-size:14px; color:#808080; line-height:1.4;}

.center_p_img{position:relative; width:100%; overflow:hidden; margin:0 auto; text-align:center;}
.videoedition_con_bg{width:100%; height:438px; background:url(/index/en/img/videoedition_con_img02.gif) no-repeat center 0;}

.support_div_bg{position:relative; width:100%; min-height:386px; overflow:hidden; margin:0 auto; background:url(/index/en/img/anysupport_con_img03.gif) no-repeat 96% 0;}
.support_div_bg02{position:relative; width:45%; min-height:386px; overflow:hidden; margin:0 auto; background:url(/index/en/img/anysupport_con_img04.gif) no-repeat 0 0; padding:0 0 0 55%;}
.support_div_bg03{position:relative; width:100%; min-height:386px; overflow:hidden; margin:0 auto; background:url(/index/en/img/mobileedition_con_img03.gif) no-repeat 96% 0;}
.support_div_bg04{position:relative; width:45%; min-height:386px; overflow:hidden; margin:0 auto; background:url(/index/en/img/mobileedition_con_img04.gif) no-repeat 0 0; padding:0 0 0 55%;}
.support_div_bg05{position:relative; width:100%; min-height:386px; overflow:hidden; margin:0 auto; background:url(/index/en/img/videoedition_con_img03.gif) no-repeat 96% 0;}
.support_div_bg06{position:relative; width:45%; min-height:386px; overflow:hidden; margin:0 auto; background:url(/index/en/img/videoedition_con_img04.gif) no-repeat 0 0; padding:0 0 0 55%;}

.product_gray_p{position:relative; width:100%; overflow:hidden; margin:30px auto; font-size:18px; font-weight:bold; color:#999999;}
.product_con_dl02{position:relative; width:100%; overflow:hidden; margin:0 auto 45px auto;}
.product_con_dl02 dt{color:#000000; font-size:24px; font-weight:bold; font-style:italic; margin:0 0 6px 0;}
.product_con_dl02 dd{font-size:16px; color:#000000; line-height:1.4;}

.product_con_dl03{position:relative; width:100%; overflow:hidden; margin:0 auto 45px auto;}
.product_con_dl03 dt{color:#000000; font-size:24px; font-weight:bold; font-style:italic; margin:0 0 20px 0;}
.product_con_dl03 dd{font-size:16px; color:#000000; line-height:1.4;}

.product_movie_area{position:relative; width:100%; min-height:217px; overflow:hidden; margin:0 auto; text-align:center;}

.product_absol_pdf{position:absolute; right:0; bottom:54px;}
.product_absol_pdf a{display:block;}
.product_absol_pdf a .absol_pdf{position:relative; width:260px; overflow:hidden;}
.product_absol_pdf a .absol_pdf dt{float:left; width:42px; margin:0 10px 0 0;}
.product_absol_pdf a .absol_pdf dd{float:right; width:208px; color:#000000; font-size:18px; font-weight:bold; font-style:italic; line-height:1.3; background:url(/index/en/img/pdf_big_arrow.gif) no-repeat right 26px; letter-spacing:-1px;}

.product_bottom_img_list{position:relative; width:100%; overflow:hidden; margin:0 auto;}
.product_bottom_img_list li{float:left; margin:0 43px 0 0; width:318px;}
.product_bottom_img_list li.last{margin:0;}
.product_bottom_img_list li .img_list_dl{position:relative; width:100%; overflow:hidden;}
.product_bottom_img_list li .img_list_dl dt{position:relative; width:318px; height:318px; margin:0 0 14px 0;}
.product_bottom_img_list li .img_list_dl dt:hover .img_list_hover_dim{display:block;}
.product_bottom_img_list li .img_list_dl dt .img_list_nor{position:relative; width:100%;}
.product_bottom_img_list li .img_list_dl dt .img_list_nor .list_nor_img{position:absolute; left:0; top:0;}
.product_bottom_img_list li .img_list_dl dt .img_list_nor .list_nor_img img{width:318px; height:auto;}
.product_bottom_img_list li .img_list_dl dt .img_list_nor .img_list_tit{position:absolute; left:16px; top:125px; color:#fff; font-size:24px; font-weight:bold; z-index:10;}
.product_bottom_img_list li .img_list_dl dd{color:#000000; font-size:16px; line-height:1.4; text-align:justify;}

.img_list_hover_dim{display:none; position:absolute; left:0; top:0; width:318px; height:318px; background:url(/index/en/img/anysupport_list_hover.png) repeat 0 0; z-index:8;}

.product_function_ul{position:relative; width:100%; overflow:hidden; margin:0 auto;}
.product_function_ul li{float:left; margin:0 13px 26px 0; width:250px; min-height:106px;}
.product_function_ul li.last{margin:0 0 26px 0;}
.product_function_ul li .product_function_dl{position:relative; width:100%; overflow:hidden;}
.product_function_ul li .product_function_dl dt{font-size:16px; font-weight:bold; color:#000000; margin:0 0 18px 0; background:url(/index/en/img/product_checkbox.gif) no-repeat 0 center; text-indent:30px}
.product_function_ul li .product_function_dl dd{font-size:16px; color:#666666; line-height:1.4; letter-spacing:-1px;}

/*------pricing------*/
.sub_visual .sub_visual_1080_02{position:relative; width:100%;height:449px;  overflow:hidden; margin:0 auto;}
.sub_visual .sub_visual_1080_02 .sub_visual_p_02{background:url(/index/en/img/new_pricing_sub_visual.jpg) no-repeat center 0; height:449px;}

/*.pricing_visual_txt{position:absolute; left:50%; top:86px; margin:0 0 0 -320px;}
.pricing_visual_txt dt{font-size:48px; font-weight:bold; color:#ffffff; margin:0 0 24px 0; line-height:1.6; text-align:center;}*/
.pricing_visual_txt dd{text-align:center;}
.pricing_visual_txt dd a{font-size:18px; color:#7dcef8; text-decoration:underline;}

.pricing_link_tab{position:absolute; bottom:0; width:100%; height:80px; background:url(/index/en/img/tab_bg.png) repeat-x 0 0;}
.pricing_link_tab .pricing_link{position:relative; width:1080px; overflow:hidden; margin:0 auto;}
.pricing_link_tab .pricing_link li{float:left; width:359px; margin:0 1px 0 0;}
.pricing_link_tab .pricing_link li:last-child{width:360px; margin:0;}
.pricing_link_tab .pricing_link li a{display:block; font-size:24px; font-weight:bold; color:#e0e0e0; text-align:center; line-height:80px; letter-spacing:-1px;}

.pricing_link_tab .pricing_link li.pricing_tab01{background:url(/index/en/img/pricing_nor_tab01.png) no-repeat 0 0;}
.pricing_link_tab .pricing_link li.pricing_tab01:hover{background:url(/index/en/img/pricing_sel_tab01.png) no-repeat 0 0;}
.pricing_link_tab .pricing_link li.pricing_tab01:hover a{color:#fff}

.pricing_link_tab .pricing_link li.pricing_tab02{background:url(/index/en/img/pricing_nor_tab02.png) no-repeat 0 0;}
.pricing_link_tab .pricing_link li.pricing_tab02:hover{background:url(/index/en/img/pricing_sel_tab02.png) no-repeat 0 0;}
.pricing_link_tab .pricing_link li.pricing_tab02:hover a{color:#fff}

.pricing_link_tab .pricing_link li.pricing_tab03{background:url(/index/en/img/pricing_nor_tab03.png) no-repeat 0 0;}
.pricing_link_tab .pricing_link li.pricing_tab03:hover{background:url(/index/en/img/pricing_sel_tab03.png) no-repeat 0 0;}
.pricing_link_tab .pricing_link li.pricing_tab03:hover a{color:#fff}

.pricing_box_div01{position:relative; width:100%; min-height:300px; overflow:hidden; margin:0 auto; background:#fff; padding:30px 0;}
.pricing_box_div02{position:relative; width:100%; min-height:300px; overflow:hidden; margin:0 auto; background:#f1f6f9; padding:30px 0;}

.pricing_common_left01{float:left; position:relative; width:45%; overflow:hidden; margin:0 0 0 5%; background:url(/index/en/img/pricing_vertical_line01.gif) no-repeat right center;}
.pricing_common_right01{float:right; position:relative; width:45%; margin:0 5% 0 0;}
.pricing_common_div{position:relative; width:100%; margin:0 auto; overflow:hidden;}

.pricing_common_img{position:relative; width:100%; overflow:hidden; margin:46px auto 20px auto; text-align:center;}
.pricing_common_img02{position:relative; width:100%; overflow:hidden; margin:38px auto 42px auto; text-align:center;}

.pricing_con_dl01{position:relative; width:374px; overflow:hidden; margin:0 auto 80px auto;}
.pricing_con_dl01 dt{text-align:center; font-size:18px; font-weight:bold; color:#333333; margin:0 0 20px 0;}
.pricing_con_dl01 dd{font-weight:bold; font-size:18px; color:#999999; line-height:1.4; letter-spacing:-1px;}

.pricing_con_div01{position:relative; width:960px; overflow:hidden; margin:30px auto 0 auto; background:#f9f9f9;}
.pricing_con_div02{position:relative; width:960px; overflow:hidden; margin:0 auto; background:#fff;}
.pricing_con_div03{float:left; position:relative; width:480px; overflow:hidden; margin:0 0 0 40px; background:#f1f6f9;}
.pricing_tit01{position:relative; width:100%; overflow:hidden; margin:0 auto; font-size:28px; font-weight:bold; color:#fff; padding:15px; 0; background:#72daea; text-indent:30px;}
.pricing_tit02{position:relative; width:100%; overflow:hidden; margin:0 auto; font-size:28px; font-weight:bold; color:#fff; padding:15px; 0; background:#00c0ff; text-indent:30px;}
.pricing_tit03{position:relative; width:450px; overflow:hidden; margin:0 auto; font-size:28px; font-weight:bold; color:#fff; padding:15px; 0; background:#46b7ff; text-indent:30px;}

.pricing_absol_dl{position:absolute; right:0; top:0; z-index:10; width:323px; height:100px; background:url(/index/en/img/pricing_right_bg01.png) no-repeat 0 0;}
.pricing_absol_dl dt{font-size:24px; color:#fff; font-style:italic; margin:12px 20px 0 0; text-align:right;}
.pricing_absol_dl dd{font-size:16px; color:#fff; text-align:right; margin:0 20px 0 0;}

.pricing_absol_dl02{position:absolute; right:0; top:0; z-index:10; width:323px; height:100px; background:url(/index/en/img/pricing_right_bg02.png) no-repeat 0 0;}
.pricing_absol_dl02 dt{font-size:24px; color:#fff; font-style:italic; margin:12px 20px 0 0; text-align:right;}
.pricing_absol_dl02 dd{font-size:16px; color:#fff; text-align:right; margin:0 20px 0 0;}

.pricing_right_sel_dl{position:relative; width:366px; height:36px; margin:70px auto 20px auto;}
.pricing_right_sel_dl dt{float:left; width:230px; margin:0 40px 0 0;}
.pricing_right_sel_dl dd{float:right; width:96px; font-size:30px; font-weight:bold; color:#000;}

.pricing_checkbox_ul{position:relative; width:366px; overflow:hidden; margin:0 auto; padding:0 11px 24px 12px; background:url(/index/en/img/pricing_con_line01.gif) no-repeat 0 bottom;}
.pricing_checkbox_ul li{float:left; width:50%;}

.pricing_total_dl{position:relative; width:366px; height:72px; overflow:hidden; margin:6px auto 0 auto;}
.pricing_total_dl dt{float:left; width:219px; color:#000; font-size:28px; font-weight:bold; line-height:72px;}
.pricing_total_dl dd{float:right; width:147px; color:#000; font-size:28px; font-weight:bold; text-align:center; background:url(/index/en/img/common_red_line_circle.png) no-repeat 0 0; line-height:72px;}

.customizing_dl{position:relative; width:374px; overflow:hidden; margin:0 auto 40px auto;}
.customizing_dl dt{font-size:14px; font-weight:bold; color:#000000; margin:0 0 10px 0; text-align:center; letter-spacing:-1px;}
.customizing_dl dd{text-align:center;}
.customizing_dl dd a{font-size:18px; font-weight:bold; color:#2bbcfe;}

.pricing_btn_div{position:relative; width:386px; overflow:hidden; margin:30px auto 0 auto;}

/*------resources------*/
.product_content02{position:relative; width:1040px; overflow:hidden; margin:30px auto;}

.sub_a_link_ul03{position:absolute; left:100px; top:10px;}
.sub_a_link_ul03 li{float:left; margin:0 14px 0 0;}
.sub_a_link_ul03 li:last-child{margin:0;}
.sub_a_link_ul03 li a{font-size:18px; color:#999999;}
.sub_a_link_ul03 li:hover a, .sub_a_link_ul03 li.on a{color:#2494ce; text-decoration:underline;}

.sub_a_link_ul04{position:absolute; left:130px; top:10px;}
.sub_a_link_ul04 li{float:left; margin:0 14px 0 0;}
.sub_a_link_ul04 li:last-child{margin:0;}
.sub_a_link_ul04 li a{font-size:18px; color:#999999;}
.sub_a_link_ul04 li:hover a, .sub_a_link_ul04 li.on a{color:#2494ce; text-decoration:underline;}

.sub_a_link_ul05{position:absolute; left:160px; top:10px;}
.sub_a_link_ul05 li{float:left; margin:0 14px 0 0;}
.sub_a_link_ul05 li:last-child{margin:0;}
.sub_a_link_ul05 li a{font-size:18px; color:#999999;}
.sub_a_link_ul05 li:hover a, .sub_a_link_ul05 li.on a{color:#2494ce; text-decoration:underline;}

.faq_con_div{position:relative; width:1038px; overflow:hidden; margin:30px auto 0 auto; border:1px solid #e1e1e1;}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {display: block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#cssmenu {width: 100%;}
#cssmenu ul div {display: none;}
#cssmenu > ul > li > a {padding:20px 10px; z-index: 2; font-size: 22px; font-weight: bold; color: #333333; cursor:pointer; background:url(/index/en/img/faq_down_arrow.png) no-repeat 96% center; border-bottom:1px solid #cecece;}
#cssmenu > ul > li > a:hover, #cssmenu > ul > li.active > a, #cssmenu > ul > li.open > a {color: #39bcdf; background:url(/index/en/img/faq_up_arrow.png) no-repeat 96% center;}
.faq_orther_bg{background:#edeef0;}

.faq_con_txt_div{position:relative; width:978px; overflow:hidden; margin:0 auto; background:#e0e6ec; padding:22px 30px;}

#toogle_list{display:block !important;}
#toogle_list, #toogle_list ul, #toogle_list ul li, #toogle_list ul li a {display:block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#toogle_list {width: 100%;}
#toogle_list ul p {display: none;}
#toogle_list > ul > li{padding:5px 0; list-style-type:decimal;}
#toogle_list > ul > li > a {z-index: 2; font-size:18px; font-weight: bold; color: #002100; line-height:1.4;}
#toogle_list > ul > li > a > span:hover, #toogle_list > ul > li.active > a > span, #toogle_list > ul > li.list_open > a > span {background:#666666; color: #fff; cursor:pointer; }

.toogle_list_con{position:relative; width:100%; overflow:hidden; margin:15px auto 30px auto; font-size:16px; color:#545454; line-height:1.4;}

.faq_blue{color:#00a3ff !important; font-weight:bold;}
.faq_underline{text-decoration:underline;}
.faq_a{display:inline !important; font-weight:bold; color:#545454 !important;}

.manual_list_ul{position:relative; width:100%; overflow:hidden; margin:30px auto 0 auto;}
.manual_list_ul li{float:left; width:286px; margin:0 90px 36px 0;}
.manual_list_ul li.last{margin:0 0 36px 0;}
.manual_list_ul li:hover .manual_dl dt{background:url(/index/en/img/manual_list_img_sel.gif) no-repeat 0 0; background-size:cover;}
.manual_list_ul li:hover .manual_dl dd{color:#6aa8ff;}
.manual_list_ul li .manual_dl{position:relative; width:100%; overflow:hidden; margin:0 auto;}
.manual_list_ul li .manual_dl dt{width:286px; height:286px; background:url(/index/en/img/manual_list_img_nor.gif) no-repeat 0 0; background-size:cover; margin:0 0 12px 0;}
.manual_list_ul li .manual_dl dd{font-size:18px; font-weight:bold; color:#bfbfbf; text-align:center;}

.partners_txt_p{position:relative; width:100%; overflow:hidden; margin:20px auto 50px auto; font-size:22px; color:#999999; line-height:1.4;}

.partners_con_dl{position:relative; width:100%; overflow:hidden; margin:0 auto;}
.partners_con_dl .partners_dl{position:relative; width:100%; overflow:hidden; background:url(/index/en/img/partners_line_dot.gif) repeat-y 299px 0; padding:0 0 60px 0;}
.partners_con_dl .partners_dl dt{float:left; width:299px;}
.partners_con_dl .partners_dl dd{float:left; width:642px; margin:0 0 0 98px;}
.partners_con_dl .partners_dl dd .partners_right_p{position:relative; width:100%; overflow:hidden; margin:0 auto 30px auto; font-size:18px; font-weight:bold; color:#999999;}

.partners_right_dl{position:relative; width:100%; overflow:hidden; margin:0 auto 0 auto;}
.partners_right_dl dt{width:100%; font-size:20px; font-weight:bold; color:#000000; font-style:italic; margin:0 0 26px 0;}
.partners_right_dl dd{width:100%; font-size:16px; color:#000000; line-height:1.4; margin:0 !important; background:none !important;}

/*------help------*/
.help_top_dl{position:relative; width:100%; overflow:hidden; margin:30px auto 44px auto;}
.help_top_dl dt{text-align:center; font-size:24px; font-weight:bold; color:#000000; margin:0 0 12px 0;}
.help_top_dl dd{text-align:center; font-size:16px; color:#808080; line-height:1.4;}

.help_content{position:relative; width:645px; min-height:502px; overflow:hidden; margin:0 auto; background:url(/index/en/img/help_content_bg.png) no-repeat 0 0;}
.help_content .help_con_cc{position:relative; width:356px; overflow:hidden; margin:0 auto 60px auto;}
.help_content .help_con_cc .help_con_p{position:relative; width:100%; overflow:hidden; margin:20px auto 50px auto; font-size:16px; font-weight:bold; color:#333333; text-align:center;}
.help_common_txt{position:relative; width:100%; overflow:hidden; margin:0 auto 20px auto; font-size:18px; font-weight:bold; color:#333333;}

.help_input_ul{position:relative; width:100%; overflow:hidden; margin:0 auto 30px auto;}
.help_input_ul li{width:100%; margin:0 0 6px 0;}
.help_input_ul li.help_ul_half{float:left; width:49.5%; margin:0 1% 6px 0;}
.help_input_ul li.help_ul_half_last{float:left; width:49%; margin:0 0 6px 0;}

/*------sitemap------*/
.sitemap_div{position:relative; width:1080px; overflow:hidden; margin:0 auto;}
.sitemap_dl{position:relative; width:100%; overflow:hidden; margin:50px auto 104px auto;}
.sitemap_dl dt{font-size:30px; color:#666666; padding:0 0 10px 0; margin:0 0 28px 0; border-bottom:1px solid #a4a4a4;}
.sitemap_dl dd{padding:0 0 10px 0; border-bottom:1px solid #a4a4a4;}
.sitemap_dl dd .sitemap_dl_span{font-size:16px;}
.sitemap_dl dd a{font-size:20px; color:#666666;}
.sitemap_dl dd:hover a{color:#0088d6; text-decoration:underline;}

.sitemap_ul{position:relative; width:980px; overflow:hidden; margin:0 auto 240px auto;}
.sitemap_ul li{float:left; width:20%; overflow:hidden; margin:0;}
.sitemap_ul li .sitemap_con_dl{position:relative; width:100%; overflow:hidden;}
.sitemap_ul li .sitemap_con_dl dt{font-size:18px; color:#666666; margin:0 0 40px 0;}
.sitemap_ul li .sitemap_con_dl dd{overflow:hidden;}
.sitemap_ul li .sitemap_con_dl dd .sitemap_ul02{position:relative; width:100%; overflow:hidden;}
.sitemap_ul li .sitemap_con_dl dd .sitemap_ul02 li{width:100%; margin:0 0 12px 0;}
.sitemap_ul li .sitemap_con_dl dd .sitemap_ul02 li a{font-size:18px; color:#acacac;}
.sitemap_ul li .sitemap_con_dl dd .sitemap_ul02 li:hover a{color:#0088d6;}

/*------login------*/
.login_content{position:relative; width:1018px; min-height:674px; margin:80px auto 0 auto !important; overflow:hidden; margin:0 auto; background:url(/index/en/img/login_bg.png) no-repeat 0 100px;}

.lolgin_dl{position:relative; width:100%; overflow:hidden; margin:0 auto 30px auto;}
.lolgin_dl dt{font-size:24px; font-weight:bold; color:#000000; text-align:center; margin:0 0 34px 0;}
.lolgin_dl dt .login_dl_big_span{font-size:32px;}
.lolgin_dl dd{font-size:22px; color:#b2b2b2; text-align:center;}
.lolgin_dl dd .login_dl_small_span{font-size:12px; line-height:1.4; margin:10px 0 0 0;}
.lolgin_dl dd .login_dl_small_span02{font-size:12px; line-height:1.4;}

.login_con_div{position:relative; width:484px; min-height:428px; margin:0 auto; overflow:hidden; background:url(/index/en/img/login_con_bg.png) no-repeat 0 0;}
.login_con_div02{position:relative; width:484px; min-height:428px; margin:0 auto; overflow:hidden; background:url(/index/en/img/login_con_bg02.png) no-repeat 0 0;}
.login_con_top_dl{position:relative; width:100%; min-height:121px; overflow:hidden; margin:30px auto 12px auto;}
/*.login_con_top_dl dt{margin:0 0 24px 0; text-align:center;}*/
.login_con_top_dl dd{text-align:center; font-size:14px; color:#f64b4b;}

.login_input_ul{position:relative; width:292px; overflow:hidden; margin:0 auto;}
.login_input_ul li{margin:0 0 8px 0;}
.login_input_ul li.last{margin:0;}

.login_input_ul02{position:relative; width:292px; overflow:hidden; margin:0 auto 0 auto;}
.login_input_ul02 li{}

.login_error_p{position:relative; width:292px; overflow:hidden; margin:12px auto; font-size:14px; color:#f64b4b; letter-spacing:-1px;}

.login_check_dl{position:relative; width:292px; overflow:hidden; margin:0 auto 20px auto;}
.login_check_dl dt{font-size:14px; color:#0999be; margin:0 0 8px 0;}
.login_check_dl dd{font-size:12px; color:#000000;}
.login_check_dl dd input{margin:0 10px 0 0;}

.login_btn_area{position:relative; width:292px; overflow:hidden; margin:0 auto;}
.login_btn_area02{position:relative; width:292px; overflow:hidden; margin:30px auto 0 auto;}

.login_bottom_dl{position:relative; width:100%; overflow:hidden; margin:20px auto; 0 auto;}
.login_bottom_dl dt{text-align:center; font-size:12px; color:#666666; margin:0 0 10px 0;}
.login_bottom_dl dd{overflow:hidden;}
.login_bottom_dl dd .login_bottom_ul{position:relative; width:100%; overflow:hidden; text-align:center;}
.login_bottom_dl dd .login_bottom_ul li{display:inline-block; margin:0 4px 0 0;}
.login_bottom_dl dd .login_bottom_ul li.last{margin:0;}

.login_img_p{position:relative; width:100%; overflow:hidden; margin:34px auto 46px auto; text-align:center;}
.pw_blue_p{position:relative; width:292px; overflow:hidden; margin:32px auto;}
.pw_blue_p a{font-size:12px; color:#22a7ec;}

.login_pw_dl01{position:relative; width:100%; overflow:hidden; margin:0 auto 0 auto;}
.login_pw_dl01 dt{font-size:22px; color:#000000; font-weight:bold; margin:0 0 22px 0; text-align:center;}
.login_pw_dl01 dd{font-size:14px; color:#000000; line-height:1.4; text-align:center;}

.login_pw_p01{position:relative; width:292px; margin:50px auto 0 auto; overflow:hidden; line-height:1.4; color:#666666; font-size:11px; letter-spacing:-1px;}

.login_email_p01{position:relative; width:100%; overflow:hidden; margin:0 auto 30px auto; font-size:20px; color:#000000;}
.login_email_p02{position:relative; width:100%; overflow:hidden; margin:0 auto 90px auto; font-size:20px; color:#000000;}
.login_email_p03{position:relative; width:100%; overflow:hidden; margin:0 auto; font-size:14px; color:#666666;}

.login_email_dl{position:relative; width:100%; overflow:hidden; margin:0 auto 14px auto;}
.login_email_dl dt{font-size:20px; color:#000000; margin:0 0 12px 0;}
.login_email_dl dd{font-style:italic; font-weight:bold;}

/*------free trial------*/
.freetrial_tit{position:relative; width:100%; overflow:hidden; margin:0 auto 30px auto; font-weight:bold; font-size:24px; color:#7c848d; text-align:center;}
.freetrial_dl01{position:relative; width:100%; overflow:hidden; margin:0 auto 40px auto;}
.freetrial_dl01 dt{text-align:center; margin:0 0 12px 0;}
.freetrial_dl01 dd{text-align:center; font-size:16px; color:#808080;}

.freetrial_content{position:relative; width:731px; min-height:381px; overflow:hidden; margin:0 auto 20px auto; background:url(/index/en/img/free_trial_bg.png) no-repeat 0 0;}
.freetrial_content .free_sel_lead{position:absolute; left:40px; top:20px; z-index:10;}

.freetrial_content_bottom{position:relative; width:690px; overflow:hidden; margin:0 auto;}

.free_sel_div{float:left; position:relative; width:308px; min-height:328px; overflow:hidden; margin:30px 20px 0 26px; background:#f3f3f4; border:1px solid #cdcdcd;}
.free_input_div{float:left; position:relative; width:348px; min-height:328px; overflow:hidden; margin:30px 26px 0 0;}

.common_select_dl{position:relative; width:290px; margin:20px auto 64px auto;}
.common_select_dl dt{margin:0 0 10px 0;}
.common_select_dl dd{}

.common_sel_dl{position:relative; width:290px; overflow:hidden; margin:0 auto 20px auto;}
.common_sel_dl dt{font-size:20px; font-weight:bold; color:#000; margin:0 0 20px 0;}
.common_sel_dl dd{font-size:20px; font-weight:bold; color:#000; line-height:1.2;}

.common_sel_total{position:relative; width:290px; overflow:hidden; margin:0 auto; padding:20px 0 0 0; background:url(/index/en/img/common_sel_unerline.gif) repeat-x 0 0;}
.common_sel_total dt{float:left; width:70px; font-size:18px; font-weight:bold;}
.common_sel_total dd{float:right; width:220px; font-size:18px; font-weight:bold; text-align:right;}

/* 2015.06.22 | KSM | nomal P added */
.free_input_p{position:relative; width:322px; overflow:hidden; margin:12px 0 17px 0; font-size:14px; color:#ff0000; padding:0 0 0 26px; line-height:18px;}
.free_input_p.error{background:url(/index/en/img/circle_close.png) no-repeat 0 0; padding:0 0 0 26px;}
/* 2015.06.22 | KSM | nomal P added */

.free_input_close_p{position:relative; width:322px; overflow:hidden; margin:12px 0 17px 0; font-size:14px; color:#ff0000; background:url(/index/en/img/circle_close.png) no-repeat 0 0; padding:0 0 0 26px; line-height:18px;}

/* 2015.06.22 | KSM | margin bottom 5px */
.free_input_ul01{position:relative; width:100%; overflow:hidden; margin:0 auto 5px auto;}
/* 2015.06.22 | KSM | margin bottom 5px */

.free_input_ul01 li{float:left; width:114px; margin:0 6px 0 0;}

/* 2015.06.22 | KSM | nomal li added */
.free_input_ul01 li.normal{width:82px; padding:0 0 0 26px; margin:0; font-size:14px; color:#7d7d7d; line-height:36px;}
.free_input_ul01 li.circle_check{background:url(/index/en/img/circle_check.png) no-repeat 0 center;}
.free_input_ul01 li.circle_error{background:url(/index/en/img/circle_close.png) no-repeat 0 center;}
/* 2015.06.22 | KSM | nomal li added */

.free_input_ul02{position:relative; width:100%; overflow:hidden; margin:0 auto 6px auto;}
.free_input_ul02 li{float:left; width:235px; margin:0 6px 0 0;}
/* 2015.06.22 | KSM | nomal li added */
.free_input_ul02 li.normal{width:81px; padding:0 0 0 26px; margin:0; font-size:14px; color:#7d7d7d; line-height:36px;}
.free_input_ul02 li.circle_check{background:url(/index/en/img/circle_check.png) no-repeat 0 center;}
.free_input_ul02 li.circle_error{background:url(/index/en/img/circle_close.png) no-repeat 0 center;}
/* 2015.06.22 | KSM | nomal li added */

.free_input_txt{position:relative; width:100%; overflow:hidden; margin:0 auto 12px auto; font-size:11px; color:#bfbfbf;}

.free_input_dl{position:relative; width:100%; overflow:hidden; margin:24px auto 0 auto;}
.free_input_dl dt{float:left; width:6%;}
.free_input_dl dd{float:right; width:94%; font-size:14px; color:#bfbfbf;}

.free_pop{position:fixed; left:50%; top:50%; width:419px; height:200px; overflow:hidden; background:url(/index/en/img/pop_bg01.png) no-repeat 0 0; z-index:6001; margin:-170px 0 0 -200px;}
.free_pop_dl{position:relative; width:100%; overflow:hidden; margin:30px auto 20px auto;}
.free_pop_dl dt{text-align:center; font-size:24px; color:#000; font-weight:bold; margin:0 0 20px 0;}
.free_pop_dl dd{text-align:center; font-size:16px; color:#4d4d4d;}
.free_pop_dl dd .free_pop_span{font-size:12px;}

.free_pop_ul{position:relative; width:379px; overflow:hidden; margin:0 auto;}
.free_pop_ul li{float:left; width:185px; margin:0 9px 0 0;}
.free_pop_ul li.last{margin:0;}

/* 2015.06.23 | KSM | add solo btn */
.free_pop_ul li.solo{float:left; width:185px; margin:0 0 0 100px;}
/* 2015.06.23 | KSM | add solo btn */

/*------buy it now------*/
.common_radio_ul{position:relative; width:290px; overflow:hidden; margin:0 auto 36px auto;}
.common_radio_ul li{margin:0 0 6px 0;}
.common_radio_ul li.last{margin:0;}

.common_radio_ul02{position:relative; width:100%; overflow:hidden; margin:0 auto 14px auto;}
.common_radio_ul02 li{margin:0 0 6px 0;}
.common_radio_ul02 li.last{margin:0;}
.common_radio_ul02 li .buy_label_span{font-size:12px; font-weight:bold; color:#000;}

.common_select_dl02{position:relative; width:290px; margin:20px auto 12px auto;}
.common_select_dl02 dt{margin:0 0 10px 0;}
.common_select_dl02 dd{}

.common_sel_dl02{position:relative; width:290px; overflow:hidden; margin:0 auto 20px auto;}
.common_sel_dl02 dt{font-size:20px; font-weight:bold; color:#000; margin:0 0 4px 0;}
.common_sel_dl02 dd{font-size:20px; font-weight:bold; color:#000;}

.buy_pop_p{position:relative; width:360px; overflow:hidden; margin:0 auto;}

.buy_content{position:relative; width:690px; min-height:300px; overflow:hidden; margin:0 auto;}
.card_top_p01{position:relative; width:100%; height:22px; margin:0 0 12px 0; overflow:hidden; font-size:16px; color:#808080; background:url(/index/en/img/buy_card_img.gif) no-repeat right 0;}

.buy_top_ul{position:relative; width:688px; overflow:hidden; margin:0 auto 18px auto; border:1px solid #dddddd;}
.buy_top_ul li{position:relative; width:648px; border-bottom:1px solid #dddddd; padding:12px 20px; font-size:14px;}
.buy_top_ul li.last{border-bottom:none;}
.buy_top_ul li.buy_color01{color:#000000; background:#eceff1;}
.buy_top_ul li.buy_color02{font-weight:bold;}
.buy_top_ul li.buy_color03{font-weight:bold; line-height:1.4;}
.buy_top_ul li .buy_top_total{position:absolute; right:12px; bottom:12px; font-size:18px; font-weight:bold; color:#000;}

.buy_top_line{position:relative; width:100%; height:2px; overflow:hidden; margin:18px auto 15px auto; background:#e7e7e7;}

.buy_red_p{position:relative; width:590px; overflow:hidden; margin:0 auto 17px auto; padding:19px 50px 11px 50px; background:#fce4e4 url(/index/en/img/buy_close.png) no-repeat 19px 19px; font-size:16px; color:#f73535;}

.buy_con_dl{position:relative; width:100%; overflow:hidden; margin:0 auto;}
.buy_con_dl dt{float:left; width:95px; margin:0 24px 0 11px; font-size:16px; color:#000; letter-spacing:-1px; line-height:36px;}
.buy_con_dl dd{float:right; width:560px; overflow:hidden;}

.buy_con_dl02{position:relative; width:100%; height:37px; margin:0 auto 10px auto;}
.buy_con_dl02 dt{float:left; width:95px; margin:0 24px 0 11px; font-size:16px; color:#000; letter-spacing:-1px; line-height:36px;}
.buy_con_dl02 dd{float:right; width:560px;}

.buy_con_ul{position:relative; width:100%; overflow:hidden;}
.buy_con_ul li{float:left; width:140px; margin:0 6px 10px 0;}
.buy_con_ul li.last{margin:0 0 10px 0;}
.buy_con_ul li.circle_close{width:242px; background:url(/index/en/img/circle_close.png) no-repeat 0 center; padding:0 0 0 22px; font-size:14px; color:#f93333; line-height:36px;}

.buy_con_ul02{position:relative; width:100%; overflow:hidden;}
.buy_con_ul02 li{float:left; width:67px; margin:0 6px 0 0;}
.buy_con_ul02 li.last{margin:0 0 10px 0;}
.buy_con_ul02 li.circle_close{width:242px; background:url(/index/en/img/circle_close.png) no-repeat 0 center; padding:0 0 0 22px; font-size:14px; color:#f93333; line-height:36px;}

.buy_con_ul03{position:relative; width:100%;}
.buy_con_ul03 li{float:left; width:140px; margin:0 6px 0 0;}
.buy_con_ul03 li.last{margin:0;}

.buy_con_ul04{position:relative; width:287px; overflow:hidden;}
.buy_con_ul04 li{float:left; width:140px; margin:0 6px 10px 0;}
.buy_con_ul04 li.differ_li{width:100%; margin:0 0 10px 0;}
.buy_con_ul04 li.last{margin:0 0 10px 0;}

.buy_edit_p{position:relative; width:660px; overflow:hidden; margin:43px auto 15px auto; font-size:16px; font-weight:bold; color:#7c848d; line-height:15px; background:url(/index/en/img/edit_check.gif) no-repeat 0 center; padding:0 0 0 30px;}

.buy_edit_div{position:relative; width:688px; overflow:hidden; margin:0 auto; border:1px solid #dddddd;}
.buy_edit_con_p{position:relative; width:648px; overflow:hidden; padding:14px 20px; background:#eceff1; border-bottom:1px solid #cccccc; font-weight:bold; font-size:14px; color:#000;}

.buy_edit_con{position:relative; width:648px; overflow:hidden; margin:0 auto;}

.edit_sel_dl{position:relative; width:644px; height:78px; margin:22px auto;}
.edit_sel_dl dt{margin:0 0 10px 0;}
.edit_sel_dl dd{}

.buy_edit_total{position:relative; width:648px; overflow:hidden; margin:0 auto 20px auto;}
.buy_edit_total dt{padding:0 0 12px 400px; width:248px;  font-size:18px; color:#666666; font-weight:bold; line-height:1.4; background:url(/index/en/img/edit_total_line.png) no-repeat right bottom; margin:0 0 20px 0; font-style:italic;}
.buy_edit_total dd{font-size:20px; font-weight:bold; color:#090909; text-align:right;}

.buy_edit_btn{float:right; position:relative; width:192px; overflow:hidden; margin:20px 0;}
.buy_edit_btn li{float:left; width:90px; margin:0 12px 0 0;}
.buy_edit_btn li.last{margin:0;}

.buy_txt_dl{position:relative; width:100%; overflow:hidden; margin:160px auto 50px auto;}
.buy_txt_dl dt{font-size:24px; font-weight:bold; color:#7c848d; line-height:1.4; margin:0 0 20px 0; text-align:center;}
.buy_txt_dl dd{font-size:16px; color:#7c848d; text-align:center;}

.buy_txt_bottom{position:relative; width:100%; overflow:hidden; margin:0 auto 160px auto;}
.buy_txt_bottom dt{text-align:center; margin:0 0 10px 0;}
.buy_txt_bottom dt .txt_bottom_span{font-size:14px; font-weight:bold; color:#cccccc;}
.buy_txt_bottom dd{text-align:center;}
.buy_txt_bottom dd a{font-size:20px; font-weight:bold; color:#2f96ed;}
.buy_txt_bottom dd img{margin:5px 0 0 6px;}


/*로그인 유저타입 선택 라디오 버튼*/
.login_con_top_dl{position:relative; width:100%; min-height:121px; overflow:hidden; margin:15px auto 12px auto;}
.login_user_select {text-align:center; margin:0 0 10px 150px; width:300px;height:20px; /*border:1px solid red;*/}
.login_user_select li{float:left;width:90px; margin:0 10px 0 0px; font-size:14px; color:#000;/*border:1px solid red;*/}
.login_user_select .last{margin-right:0;}
.login_con_top_dl dt{margin:0 0 14px 0; text-align:center;}

/*sub visual txt size edit*/
.product_visual_txt01 dt{font-size:34px; font-weight:bold; color:#ffffff; margin:0 0 16px 0;}

.pricing_visual_txt{position:absolute; left:50%; top:86px; margin:0 0 0 -240px;}
.pricing_visual_txt dt{font-size:38px; font-weight:bold; color:#ffffff; margin:0 0 24px 0; line-height:1.6; text-align:center;}



