@charset "utf-8";
/**
 * 2015.06.08 | KSM | etc css
 */

.font_color_offline{color:"#848383";font-weight:bold}
.font_color_online{color:"#3366CC";font-weight:bold}
.font_color_service{color:"#F50834";font-weight:bold}

a.shortcuts_link{text-decoration:underline;font-weight:bold;color:#23b7e5;}

.colspan_sort span{display:block;width:100%;text-align:center;}

.search_type_select_box{float:left;margin-right:1px;width:120px;}
.search_type_input{width:100%; line-height:16px;border:1px solid #cccccc; background:#fff; color:#bfbfbf; text-indent:8px;}
.ajax_search_type{float:left;width:300px;}

.report_search_table tr td{text-align:center;}
.report_search_table tfoot tr th{background:#f6f8fb;border-bottom:1px solid #d9d9d9;border-top:1px solid #d9d9d9;font-size:14px; color:#000;}
.report_search_table tr.model_tfoot td{background:#f6f8fb;border-bottom:1px solid #d9d9d9;border-top:1px solid #d9d9d9;font-size:14px; color:#000;border-right:1px solid #f6f8fb;}

.sort_middle span{display:block;width:100%;text-align:center;}
span.overflow_dot{display:block;overflow:hidden;width:100%;white-space:nowrap;text-overflow:ellipsis}