@charset "utf-8";

/*btn*/
.pop_link_a01{display:block; line-height:44px; text-align:center; color:#fff !important; font-size:18px; font-weight:bold; background:url(/admin/img/pop_btn_bg01.gif) no-repeat 0 0;}
.pop_link_a01:hover{background:#c52a10;}
.pop_link_a02{display:block; line-height:44px; text-align:center; color:#fff !important; font-size:18px; font-weight:bold; background:url(/admin/img/pop_btn_bg02.gif) no-repeat 0 0;}
.pop_link_a02:hover{background:#454444;}

.edit_absol_btn{position:absolute; right:20px; top:20px; width:48px; height:20px; text-align:center; background:url(/admin/img/edit_btn.png) no-repeat 0 0;}
.edit_absol_btn a{line-height:20px; color:#fff !important;}

.info_absol_btn{position:absolute; right:12px; top:12px; width:48px; height:20px; text-align:center; background:url(/admin/img/edit_btn.png) no-repeat 0 0;}
.info_absol_btn a{line-height:20px; color:#fff !important;}

.save_btn{display:block; position:relative; width:180px; height:44px; overflow:hidden; background:url(/admin/img/save_btn_bg.gif) no-repeat 0 0; font-size:18px; font-weight:bold; color:#fff !important; line-height:44px;}
.save_btn:hover{background:#c52a10;}
.cancel_btn{display:block; position:relative; width:180px; height:44px; overflow:hidden; background:url(/admin/img/cancel_btn_bg.gif) no-repeat 0 0; font-size:18px; font-weight:bold; color:#fff !important; line-height:44px;}
.cancel_btn:hover{background:#454444;}

.common_pop_btn01{display:block; line-height:44px; text-align:center; color:#fff !important; font-size:18px; font-weight:bold; background:url(/admin/img/pop_btn_bg01.gif) no-repeat 0 0;}
.common_pop_btn01:hover{background:#c52a10;}
.common_pop_btn02{display:block; line-height:44px; text-align:center; color:#fff !important; font-size:18px; font-weight:bold; background:url(/admin/img/pop_btn_bg02.gif) no-repeat 0 0;}
.common_pop_btn02:hover{background:#454444;}

.create_btn{display:block; float:right; width:72px; height:18px; border:1px solid #51748a; background:#393e42; font-size:12px; color:#fff !important; line-height:18px; text-align:center;}
.create_btn:hover{border:1px solid #a2aaaa; background:#a2aaaa;}

.table_edit_btn{display:block; float:right; width:54px; height:20px;background:#429fef; font-size:12px; color:#fff !important; line-height:20px; text-align:center;}
.table_edit_btn:hover{background:#486481;}
.table_del_btn{display:block; float:right; width:54px; height:20px;background:#dc423e; font-size:12px; color:#fff !important; line-height:20px; text-align:center;}
.table_del_btn:hover{background:#c52a10;}

/* 2015.06.09 | KSM | add error btn added */
.add_error_btn{display:block; float:right; width:118px; height:18px;background:url(/admin/img/gradation_btn_bg.gif) repeat-x 0 0; font-size:12px; color:#fff !important; line-height:18px; text-align:center; border:1px solid #51748a;}
.add_error_btn:hover{background:url(/admin/img/gradation_btn_bg_hover.gif) repeat-x 0 0;}

.add_agent_btn{display:block; float:right; width:118px; height:18px;background:url(/admin/img/gradation_btn_bg.gif) repeat-x 0 0; font-size:12px; color:#fff !important; line-height:18px; text-align:center; border:1px solid #51748a;}
.add_agent_btn:hover{background:url(/admin/img/gradation_btn_bg_hover.gif) repeat-x 0 0;}

.edite_btn{display:block; float:right; width:66px; height:18px;background:url(/admin/img/gradation_btn_bg.gif) repeat-x 0 0; font-size:12px; color:#fff !important; line-height:18px; text-align:center; border:1px solid #51748a;}
.edite_btn:hover{background:url(/admin/img/gradation_btn_bg_hover.gif) repeat-x 0 0;}

/* 2015.06.08 | KSM | refresh btn added */
.refresh_btn{display:block; float:right; width:66px; height:18px;background:url(/admin/img/gradation_btn_bg.gif) repeat-x 0 0; font-size:12px; color:#fff !important; line-height:18px; text-align:center; border:1px solid #51748a;}
.refresh_btn:hover{background:url(/admin/img/gradation_btn_bg_hover.gif) repeat-x 0 0;}

.search_btn{display:block; float:right; width:28px; height:18px;background:url(/admin/img/gradation_btn_bg.gif) repeat-x 0 0; line-height:18px; text-align:center; border:1px solid #51748a;}
.search_btn:hover{background:url(/admin/img/gradation_btn_bg_hover.gif) repeat-x 0 0;}

.down_btn{display:block; float:right; width:28px; height:18px;background:url(/admin/img/gradation_btn_bg.gif) repeat-x 0 0; line-height:18px; text-align:center; border:1px solid #51748a;}
.down_btn:hover{background:url(/admin/img/gradation_btn_bg_hover.gif) repeat-x 0 0;}

/* 2015.06.09 | KSM | shortcuts btn added*/
.shortcuts_btn{display:block; background:#429fef; line-height:40px; text-align:center; font-size:18px; color:#fff !important;}
.shortcuts_btn:hover{background:#486481;}

.agent_create_btn{display:block; background:#429fef; line-height:40px; text-align:center; font-size:18px; color:#fff !important;}
.agent_create_btn:hover{background:#486481;}
.agent_list_btn{display:block; background:#6d7983; line-height:40px; text-align:center; font-size:18px; color:#fff !important;}
.agent_list_btn:hover{background:#454444;}
.agent_del_btn{display:block; background:#dc423e; line-height:24px; text-align:center; font-size:12px; color:#fff !important;}
.agent_del_btn:hover{background:#c52a10;}

.notice_btn{display:block; float:right; width:48px; height:18px; background:url(/admin/img/notice_list_btn_nor.gif) repeat-x 0 0; line-height:18px; text-align:center; border:1px solid #bfbfbf; color:#35414a; font-size:12px;}
.notice_btn:hover{background:url(/admin/img/notice_list_btn_hover.gif) repeat-x 0 0;}


/*input*/
input[type=radio].css-radio {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
input[type=radio].css-radio + label.css-label {width:100%; height:11px;  display:inline-block; line-height:11px; background-repeat:no-repeat; background-position: left 0; vertical-align:middle; cursor:pointer; font-size:12px; color:#000000; text-indent:20px;}
input[type=radio].css-radio:checked + label.css-label {background-position: left -11px;}
label.css-label {background-image:url(/admin/img/admin_radio.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

input[type=radio].css-radio02 {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
input[type=radio].css-radio02 + label.css-label02 {width:100%; height:24px;  display:inline-block; line-height:24px; background-repeat:no-repeat; background-position: left 0; vertical-align:middle; cursor:pointer; font-size:18px; font-weight:bold; color:#4c4c4c; letter-spacing:-1px; text-indent:30px;}
input[type=radio].css-radio02:checked + label.css-label02 {background-position: left -24px; color:#7ddced;}
label.css-label02 {background-image:url(/index/kr/img/img_radio.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

.common_input{width:99%; height:34px; border:1px solid #cccccc; background:#fff; font-size:14px; color:#bfbfbf; text-indent:8px;}
.common_input:focus{border:1px solid #4ea4fa; background:#fff;}

.common_input_error{width:99%; height:34px; border:1px solid #e04006; background:#fde9e9; font-size:14px; color:#ff0000; text-indent:8px;}

.table_input{width:99%; height:auto; border:1px solid transparent; background:url(/admin/img/table_input_bg.png) repeat 0 0; font-size:12px; color:#000; text-align:center;}
.table_input:focus{border:1px solid #4ea4fa; background:#fff;}

.table_input02{width:99%; height:auto; border:1px solid transparent; background:url(/admin/img/table_input_bg.png) repeat 0 0; font-size:12px; color:#000; text-align:left;}
.table_input02:focus{border:1px solid #4ea4fa; background:#fff;}

.table_input03{width:99%; height:auto; border:1px solid #cccccc; background:#fff; font-size:12px; color:#bfbfbf; text-indent:8px;}
.table_input03:focus{border:1px solid #4ea4fa; background:#fff;}

.reports_btn{display:block; width:99%; height:18px; border:1px solid #bfbfbf; background:url(/admin/img/reports_btn_bg.gif) repeat-x 0 0; font-size:12px; color:#35414a; text-align:center; line-height:18px;}
.reports_btn:hover{background:url(/admin/img/reports_btn_bg_hover.gif) repeat-x 0 0;}

.searchbar_input{width:99%; height:18px; border:1px solid #cccccc; background:#fff; font-size:12px; color:#bfbfbf; text-indent:8px;}


/*select01*/
.select_differ_div01{position:relative; width:100%;}

.selectbox_differ{position:relative; z-index:0; cursor:pointer; }
.selectbox_differ ul{width:100%; background:#fff;}
.selectbox_differ .selectbox_title, .selectbox_differ ul li{overflow:hidden; position:relative; display:block;}
.selectbox_differ ul li:hover{background:#eee;}
.selectbox_differ ul li a{display:block; width:100%; height:100%;}
.selectbox_differ ul li input{position:absolute; left:-30px;}
.selectbox_differ ul li label,
.selectbox_differ ul li a{font-size:18px; cursor:pointer; text-decoration:none; color:#000000; text-indent:10px;}
.selectbox_differ ul li a.atg{font-size:14px; cursor:pointer; text-decoration:none; color:#bfbfbf; text-indent:10px;}
.selectbox_differ{min-height:34px;}
.selectbox_differ ul li, .selectbox_differ ul li a{line-height:34px;}
/** border 지정 **/
.selectbox_differ ul{border:1px solid #cccccc;}
.selectbox_differ.on ul{border:1px solid #cccccc;}
/** 화살표 지정 **/
.selectbox_differ ul li.on{background:url(/admin/img/common_selectbox_arrow.gif) no-repeat right 0;}

/*select02*/
.select_div01{position:relative; width:100%;}
.select_div02{position:relative; width:120px;}
.select_div03{position:relative; width:90px;}
.select_div04{position:relative; width:60px;}

.selectbox{position:relative; z-index:0; cursor:pointer; }
.selectbox ul{width:100%; background:#fff;}
.selectbox .selectbox_title, .selectbox ul li{overflow:hidden; position:relative; display:block; margin:0 !important;}
.selectbox ul li:hover{background:#eee;}
.selectbox ul li a{display:block; width:100%; height:100%;}
.selectbox ul li input{position:absolute; left:-30px;}
.selectbox ul li label,
.selectbox ul li a{font-size:12px; cursor:pointer; text-decoration:none; color:#bfbfbf; text-indent:10px;}
.selectbox ul li a.sel_cen{text-align:center; text-indent:0;}
.selectbox{min-height:18px;}
.selectbox ul li, .selectbox ul li a{line-height:18px;}
/** border 지정 **/
.selectbox ul{border:1px solid #cccccc;}
.selectbox.on ul{border:1px solid #cccccc;}
/** 화살표 지정 **/
.selectbox ul li.on{background:url(/admin/img/admin_select_arrow.gif) no-repeat right 0;}