@charset "utf-8";

#wrap{position:relative; width:100%;}
#header{position:relative; width:100%; overflow:hidden; /*margin:0 auto;*/ background:#35414a;}
#header .header_top{position:relative; width:980px; height:70px; margin:0 auto; overflow:hidden;}

#header .header_top .logo{float:left; position:relative; width:229px; height:70px overflow:hidden; z-index:3000;}
#header .header_top .logo a{display:block;}

#header .header_top .header_top_btn01{float:left; position:relative; width:204px; height:70px; overflow:hidden; background:#404d57 url(/admin/img/admin_left_top_redline.gif) no-repeat 0 0; text-align:center; margin:0 0 0 50px; }
#header .header_top .header_top_btn01 a{display:block; line-height:70px; font-size:18px; font-weight:bold; color:#ffffff;}
#header .header_top .header_top_btn01:hover, #header .header_top .on{background:url(/admin/img/header_top_btn_hover.gif) no-repeat 0 0;}

#header .header_top .admin_util{position:absolute; right:40px; top:22px;}
#header .header_top .admin_util li{float:left; margin:0 20px 0 0;}
#header .header_top .admin_util li.last{margin:0;}
#header .header_top .admin_util li a{color:#fff; font-weight:bold; font-size:12px; line-height:18px;}
#header .header_top .admin_util li.last a{font-weight:normal; color:#cbcbcb;}

.header_select{position:relative; width:100%; height:18px; overflow:hidden; margin:0 auto; border:none; font-size:12px; color:#999;}
.header_select option{font-size:12px; color:#555; text-indent:10px;}

#header_box{display:none; position:absolute; left:50%; top:44px; margin:0 0 0 250px; width:111px; height:75px; background:url(/admin/img/admin_headerbox.png) no-repeat 0 0; z-index:3001;}
#header_box.SUPPORTER_header_box{height:50px;background:url(/admin/img/admin_headerbox.png) no-repeat 0 0; z-index:3001;}
.header_box_ul{position:relative; width:94px; overflow:hidden; margin:26px auto 0 auto;}
.header_box_ul li{}
.header_box_ul li a{font-size:14px; color:#000000; letter-spacing:-1px; line-height:1.4;}
.header_box_ul li:hover a{color:#3aa6f7;}

#container{position:relative; width:100%; overflow:hidden; margin:0 auto;}
#container #main_content{position:relative; width:980px; min-height:200px; overflow:hidden; margin:0 auto;}
#container #content{position:relative; width:980px; min-height:200px; overflow:hidden; margin:0 auto;}

#footer{position:relative; width:100%; overflow:hidden; margin:0 auto; background:#ececec;}
#footer .foot{position:relative; width:980px; overflow:hidden; margin:16px auto;}

.foot_right_div{float:right; position:relative; width:330px; overflow:hidden; margin:0 40px 0 0;}

.foot_menu{float:right; position:relative; width:192px; overflow:hidden; margin:0 0 12px 0;}
.foot_menu li{float:right; margin:0 0 0 4px; padding:0 0 0 4px; background:url(/admin/img/admin_foot_line.gif) no-repeat left center;}
.foot_menu li.last{margin:0; padding:0; background:none;}
.foot_menu li a{font-size:12px; color:#808080;}

.foot_right_dl{float:right; position:relative; width:100%; overflow:hidden;}
.foot_right_dl dt{font-size:12px; color:#808080; margin:0 0 15px 0; text-align:right;}
.foot_right_dl dd{font-size:18px; font-weight:bold; color:#000000; text-align:right;}

/*location*/
.location_header{position:relative; width:100%; overflow:hidden; margin:0 auto; background:#e0e9f1;}
.location_header .location_div{position:relative; width:980px; overflow:hidden; margin:0 auto;}
.location_header .location_div .location_p{position:relative; width:100%; overflow:hidden; background:url(/admin/img/admin_location_arrowbox.gif) no-repeat 0 0; ;line-height:50px; font-size:20px; font-weight:bold; color:#808080; text-indent:46px;}
.location_header .location_div .location_p02{position:relative; width:740px; overflow:hidden; background:url(/admin/img/admin_location_arrowbox.gif) no-repeat 230px 0; ;line-height:50px; font-size:20px; font-weight:bold; color:#808080; text-indent:46px; padding:0 0 0 230px;}

.admin_buy{position:absolute; right:46px; top:20px; width:234px;}
.admin_buy dt{float:left; width:76px; height:22px; background:url(/admin/img/buy_now_btn_bg.png) no-repeat 0 0; margin:0 8px 0 0; text-align:center; line-height:22px;}
.admin_buy dt a{font-weight:bold; font-size:14px; color:#ececec;}
.admin_buy dd{font-weight:bold; font-size:14px; color:#c1c9cf; letter-spacing:-1px; line-height:22px;}

/*menu*/

.subFixed{position:fixed !important; left:50%; top:0; margin:0 0 0 -490px !important; height:100% !important; z-index:10;}

.sub_left{float:left; position:absolute; width:230px; height:100%; overflow:hidden; margin:0 10px 0 0; padding:0 9px 0 0; background:url(/admin/img/admin_sub_menu_bg.png) repeat-y 0 0;}
.left_menu_top{position:relative; width:100%; overflow:hidden; margin:0 auto; padding:32px 0 26px 0; border-bottom:1px solid #262f36;}
.left_menu_dl{position:relative; width:100%; overflow:hidden; margin:0 auto 15px auto;}
.left_menu_dl dt{text-align:center; margin:0 0 14px 0;}
.left_menu_dl dd{font-size:14px; font-weight:bold; color:#fff; text-align:center;}
.left_menu_p{position:relative; width:100%; overflow:hidden; margin:0 auto; text-align:center; line-height:1.4; font-size:12px; color:#a0a6ab;}

#lnb{position:relative; width:100%; height:100% !important; overflow:hidden; margin:0 auto;}
#lnb li{border-top:1px solid #262f36;}
#lnb li a{display:block; font-size:14px; color:#b2b2b2; text-indent:30px; line-height:30px;}
#lnb li:hover, #lnb li.on{background:url(/admin/img/admin_menu_on.png) no-repeat 0 0;}
#lnb li:hover a, #lnb li.on a{color:#35414a;}
#lnb li.lnb_tit01{background:#495762 url(/admin/img/admin_left_menu_icon01.gif) no-repeat 12px center; font-size:20px; font-weight:bold; color:#b2b2b2; text-indent:44px; border-top:1px solid #56636d; line-height:48px;}
#lnb li.lnb_tit02{background:#495762 url(/admin/img/admin_left_menu_icon02.gif) no-repeat 12px center; font-size:20px; font-weight:bold; color:#b2b2b2; text-indent:44px; border-top:1px solid #56636d; line-height:48px;}
#lnb li.lnb_tit03{background:#495762 url(/admin/img/admin_left_menu_icon03.gif) no-repeat 12px center; font-size:20px; font-weight:bold; color:#b2b2b2; text-indent:44px; border-top:1px solid #56636d; line-height:48px;}

/*sub_content*/
.sub_right{float:right; width:731px; overflow:hidden; margin:0 auto;}
.sub_right .cc{position:relative; width:100%; min-height:800px; overflow:hidden; margin:58px auto;}

/*dim*/
.fixed_dim{position:fixed; left:0; top:0; width:100%; height:100%; background:url(/index/en/img/dim_bg.png) repeat 0 0; z-index:6000;}