@charset "utf-8";

.admin_top{position:relative; width:100%; overflow:hidden; margin:84px auto 90px auto;}

.admin_top .admin_top_img{position:relative; width:100%; overflow:hidden; margin:0 auto 24px auto; text-align:center;}

.admin_top .admin_top_dl{position:relative; width:100%; overflow:hidden; margin:0 auto;}
.admin_top .admin_top_dl dt{font-size:18px; font-weight:bold; color:#000; margin:0 0 12px 0; text-align:center;}
.admin_top .admin_top_dl dd{font-size:18px; color:#000; text-align:center;}

.admin_ul{position:relative; width:631px; overflow:hidden; margin:0 auto 90px auto;}
.admin_ul li{float:left; position:relative; overflow:hidden;}
.admin_ul li.admin_bg_div01{width:321px; height:334px; background:url(/admin/img/admin_con_box01.png) no-repeat 0 0;}
.admin_ul li.admin_bg_div02{width:310px; height:334px; background:url(/admin/img/admin_con_box02.png) no-repeat 0 0;}

.admin_center_div{position:relative; width:255px; overflow:hidden; margin:0 auto 0 auto;}

.admin_center_p01{position:relative; width:246px; height:32px; overflow:hidden; margin:74px auto 0 auto; background:url(/admin/img/admin_icon01.gif) no-repeat right 0; font-size:18px; color:#fff}
.admin_center_p02{position:relative; width:246px; height:32px; overflow:hidden; margin:74px auto 0 auto; background:url(/admin/img/admin_icon02.gif) no-repeat right 0; font-size:18px; color:#fff}

.admin_center_btn{position:relative; width:100%; overflow:hidden; margin:0 auto 50px auto; background:url(/admin/img/admin_index_btn_bg.png) no-repeat 0 0;}
.admin_center_btn a{display:block; font-size:24px; font-weight:bold; color:#0188a0; line-height:80px; text-align:center;}
.admin_center_btn:hover {background:url(/admin/img/admin_index_btn_bg_on.png) no-repeat 0 0;}

.admin_center_bottom_p{position:relative; width:246px; overflow:hidden; margin:0 auto; font-size:14px; color:#e5e5e5; line-height:1.4; letter-spacing:-1px;}

/*layer pop*/
.admin_index_pop{position:fixed; left:50%; top:50%; width:419px; height:200px; background:url(/admin/img/admin_index_pop_bg.png) no-repeat 0 0; z-index:6001; margin:-170px 0 0 -200px;}
.admin_pop_dl{position:relative; width:100%; overflow:hidden; margin:36px auto 26px auto;}
.admin_pop_dl dt{font-size:24px; font-weight:bold; color:#000000; margin:0 0 24px 0; text-align:center;}
.admin_pop_dl dd{font-size:16px; color:#4d4d4d; text-align:center;}

.admin_pop_ul{position:relative; width:368px; margin:0 auto; overflow:hidden;}
.admin_pop_ul li{float:left; width:180px; margin:0 8px 0 0;}
.admin_pop_ul li.last{margin:0;}

/*start session pop*/
body{border:none; padding:0; margin:0;}
body {margin:0;padding:0;font-size:0.75em; font-family: Arial, sans-serif;}
.start_session_pop_wrap{background:url(/admin/img/ss_pop_bg.png) no-repeat;border:none; padding:60px 0 0 0; margin:0;}
.start_session_pop_wrap h2{ padding:0 10px 0; margin:0;font-size:1.4em;line-height:2em;}
.start_session_pop_wrap p{ padding:0 10px 0; margin:0;font-size:1em;line-height:1.2em;}
.start_session_pop_wrap a.start_session_pop_btn{display:block;width:93%; line-height:3em; font-size:1.2em;text-decoration:none;background:#3698FF;color:#FFFFFF;text-align:center;margin:10px auto;}
.start_session_pop_wrap a.start_session_pop_btn:hover{background:#1A7ADF;color:#FFFFFF;}