@charset "utf-8";

/*------common------*/
.mb10{margin:0 0 10px 0;}
.mb16{margin:0 0 16px 0;}
.mb22{margin:0 0 22px 0;}
.mb30{margin:0 0 30px 0;}
.mb36{margin:0 0 36px 0;}

.common_top_tit{position:relative; width:100%; overflow:hidden; margin:0 auto 30px auto; color:#323232; font-size:16px;}

.common_grapic_tit{position:relative; width:100%; overflow:hidden; margin:0 auto 15px auto; color:#323232; font-size:16px;}

.common_radio_ul02{position:relative; width:100%; overflow:hidden; margin:0 auto 14px auto;}
.common_radio_ul02 li{margin:0 0 6px 0;}
.common_radio_ul02 li.last{margin:0;}
.common_radio_ul02 li .buy_label_span{font-size:12px; font-weight:bold; color:#000;}

.admin_grapic_div{position:relative; width:100%; min-height:296px; overflow:hidden; background:#000;}

/*common popup*/
.detail_pop{position:fixed; left:50%; top:50%; width:419px; height:200px; overflow:hidden; background:url(/index/en/img/pop_bg01.png) no-repeat 0 0; z-index:6001; margin:-170px 0 0 -200px;}
.detail_pop_dl{position:relative; width:330px; overflow:hidden; margin:20px auto 10px auto;}
.detail_pop_dl dt{text-align:center; font-size:24px; color:#000; font-weight:bold; margin:0 0 10px 0; padding:0 0 25px 0; background:url(/admin/img/detail_smile_img.gif) no-repeat center bottom;}
.detail_pop_dl dd{text-align:left; font-size:16px; color:#4d4d4d;}
.detail_pop_dl dd .detail_color_span{color:#1acae9; font-weight:bold;}

.detail_pop_btn{position:relative; width:379px; overflow:hidden; margin:0 auto;}
.detail_pop_btn li{float:left; width:185px; margin:0 9px 0 0;}
.detail_pop_btn li.last{margin:0;}
.detail_pop_btn li.solo{margin:0 0 0 100px;}

.detail_pop_dl02{position:relative; width:330px; overflow:hidden; margin:32px auto;}
.detail_pop_dl02 dt{text-align:center; font-size:24px; color:#000; font-weight:bold; margin:0 0 24px 0; font-style:italic;}
.detail_pop_dl02 dd{text-align:center; font-size:16px; color:#4d4d4d;}

/*2015.06.10 | KSM | more large modal */
.detail_pop.detail_pop_lg{border:1px solid red;width:619px;height:280px;}
.detail_pop_lg .detail_pop_dl02{width:530px;}
.detail_pop_lg .detail_pop_dl02 dd{margin-bottom:8px;}
/*2015.06.10 | KSM | more large modal */

/*common table*/
.common_table01{position:relative; width:100%; border:1px solid #dddddd; border-left:none; border-right:none;}
.common_table01 tr{border-bottom:1px solid #e5e5e5;}/* 2015.06.04 | KSM | table row 구분선 추가 */
.common_table01 th{padding:10px 3px; text-align:center; background:#eceff1; font-size:14px; color:#000000; border-bottom:1px solid #dddddd;}
.common_table01 td{padding:3px; text-align:center; border-right:1px solid #e5e5e5;}
.common_table01 td.orther_align{text-align:left;}
.common_table01 td.orther_align02{text-align:left; text-indent:20px;}
.common_table01 td .error_td_p{width:398px;}
.common_table01 td .setting_td_p{width:398px;}
.common_table01 td:last-child{border-right:none;}
.common_table01 td.common_table_color01{background:#f6f8fb;}
.common_table01 td.common_table_color02{background:#e9eff5;}

.common_table02{position:relative; width:100%; border-bottom:1px solid #dddddd;}
.common_table02 th{padding:8px 20px; font-size:14px; color:#000000; border-right:1px solid #dddddd; text-align:left; text-indent:10px; font-weight:normal;}
.common_table02 th.common_table_color03{background:#ecf2f7;}
.common_table02 td{padding:8px 20px; text-align:left; font-size:14px; color:#000; height:36px;}
.common_table02 td .create_td_p{float:left; width:200px;}
.common_table02 td .common_table02_span{font-size:14px; color:#000; margin:0 0 0 20px; line-height:36px;}
.common_table02 td .create_td_ul{position:relative; width:100%; overflow:hidden;}
.common_table02 td .create_td_ul li{float:left; width:160px;}
.common_table02 td .create_td_ul li .common_input{width:280px;}/* 2015.06.09 | KSM | email 입력칸 늘리기 */
.common_table02 td .create_td_ul li.create_email{font-size:14px; color:#7f7f7f; width:14px; margin:0 8px; line-height:36px;}

.common_table03{position:relative; width:100%; border:1px solid #dddddd; border-left:none; border-right:none;}
.common_table03 th{padding:10px; text-align:center; background:#eceff1; font-size:14px; color:#000000; border-bottom:1px solid #dddddd; font-weight:normal;}
.common_table03 td{padding:8px; text-align:left; border-right:1px solid #e5e5e5;}
.common_table03 td:last-child{border-right:none;}
.common_table03 td a{display:block; width:100%;}
.common_table03 td.common_table_color04{background:#ecf2f7;}
.common_table03 td.table03_align{text-align:center;}

.common_table04{position:relative; width:100%; border:1px solid #dddddd; border-left:none; border-right:none; margin:0 0 20px 0;}
.common_table04 th{padding:10px 20px; text-align:left; background:#f7f8f9; font-size:14px; color:#000000; border-bottom:1px solid #dddddd; border-right:1px solid #dddddd; font-weight:normal;}
.common_table04 td{padding:10px 20px; text-align:left; border-bottom:1px solid #dddddd; font-size:14px; color:#000000; font-weight:normal;}
.common_table04 td.common_table_color05{background:#ecf2f7;}

/*common table btn*/
.table_btn_ul01{position:relative; width:114px; overflow:hidden; margin:0 auto;}
.table_btn_ul01 li{float:left; width:54px; margin:0 5px 0 0;}
.table_btn_ul01 li.last{margin:0;}

/*search bar01*/
.common_searchbar01{position:relative; width:691px; min-height:27px; margin:0 auto 15px auto; background:#c1c9cf; padding:20px;}

.searchbar_left{float:left; position:relative; width:198px; overflow:hidden;}
.searchbar_left li{float:left; margin:0 10px 0 0;}
.searchbar_left li.last{margin:0;}

.searchbar_dl{float:right; position:relative; width:188px;}
.searchbar_dl dt{float:left; width:52px; font-size:14px; color:#000;}
.searchbar_dl dd{float:right; width:136px;}
.searchbar_dl dd .searchbar_right{position:relative; width:100%;}
.searchbar_dl dd .searchbar_right li{float:left; width:97px; margin:0 9px 9px 0;}
.searchbar_dl dd .searchbar_right li.last{margin:0; width:30px;}
.searchbar_dl dd .searchbar_right li a img{margin:2px 0; text-align:center;}

.searchbar_dl02{float:right; position:relative; width:171px;}
.searchbar_dl02 dt{float:left; width:97px; margin:0 9px 0 0;}
.searchbar_dl02 dd{float:right; width:65px;}
.searchbar_dl02 dd .searchbar_right02{position:relative; width:100%;}
.searchbar_dl02 dd .searchbar_right02 li{float:left; width:30px; margin:0 5px 0 0;}
.searchbar_dl02 dd .searchbar_right02 li.last{margin:0;}
.searchbar_dl02 dd .searchbar_right02 li a img{margin:2px 0; text-align:center;}

.searchbar_dl03{float:right; position:relative; width:323px;}
.searchbar_dl03 dt{float:left; width:51px; font-size:14px; color:#000;}
.searchbar_dl03 dd{float:right; width:272px;}
.searchbar_dl03 dd .searchbar_dl03_float01{float:left; width:97px; margin:0 4px 0 0;}
.searchbar_dl03 dd .searchbar_dl03_float02{float:left; width:97px; margin:0 9px 0 0;}
.searchbar_dl03 dd .searchbar_right03{position:relative; width:100%;}
.searchbar_dl03 dd .searchbar_right03 li{float:left; width:30px; margin:0 5px 0 0;}
.searchbar_dl03 dd .searchbar_right03 li.last{margin:0;}
.searchbar_dl03 dd .searchbar_right03 li a img{margin:2px 0; text-align:center;}

.searchbar_dl04{float:right; position:relative; width:503px;}
.searchbar_dl04 dt{float:left; width:49px; font-size:14px; color:#000;}
.searchbar_dl04 dd{float:right; width:454px;}
.searchbar_dl04 dd .searchbar_dl04_float01{float:left; width:274px; margin:0 9px 0 0;}
.searchbar_dl04 dd .searchbar_dl04_float02{float:left; width:97px; margin:0 9px 0 0;}
.searchbar_dl04 dd .searchbar_right04{position:relative; width:100%;}
.searchbar_dl04 dd .searchbar_right04 li{float:left; width:30px; margin:0 5px 0 0;}
.searchbar_dl04 dd .searchbar_right04 li.last{margin:0;}
.searchbar_dl04 dd .searchbar_right04 li a img{margin:2px 0; text-align:center;}

.searchbar04_input{position:relative; width:274px; overflow:hidden;}
.searchbar04_input li{float:left; width:130px;}
.searchbar04_input li.searchbar04_input_hyphen{font-size:14px; font-weight:bold; color:#e0e9f1; text-align:center; line-height:20px; width:6px; margin:0 4px;}

/* wizsotf 20160608추가 && 2015.06.09 | KSM | agent search modify */
.searchbar_dl05{float:right; position:relative; width:294px;}
.searchbar_dl05 dt{float:left; width:52px; font-size:14px; color:#000;}
.searchbar_dl05 dd{float:right; width:242px;}
.searchbar_dl05 dd .searchbar_right{position:relative; width:100%;}
.searchbar_dl05 dd .searchbar_right li{float:left;width:97px;margin:0 9px 9px 0;}
.searchbar_dl05 dd .searchbar_right li select{width:95px;}
.searchbar_dl05 dd .searchbar_right li input{width:95px;}
.searchbar_dl05 dd .searchbar_right li.last{margin:0; width:30px;}
.searchbar_dl05 dd .searchbar_right li a img{margin:2px 0; text-align:center;}
/* wizsotf 20160608추가 && 2015.06.09 | KSM | agent search modify */

/*search bar02*/
.common_searchbar02{position:relative; width:691px; height:81px; margin:0 auto 15px auto; background:#c1c9cf; padding:20px;}

.searchbar02_dl{position:relative; width:100%; overflow:hidden; margin:0 auto 10px auto;}
.searchbar02_dl dt{float:left; width:59px; font-size:14px; color:#000;}
.searchbar02_dl dd{float:right:; width:632px; overflow:hidden;}
.searchbar02_dl dd .searchbar02_ul{position:relative; width:100%; overflow:hidden;}
.searchbar02_dl dd .searchbar02_ul li{float:left; width:75px; margin:0 4px 0 0;}
.searchbar02_dl dd .searchbar02_ul li.last{margin:0;}

.searchbar_sel_div{position:relative; width:586px; height:20px; margin:0 0 10px 100px;}
.search_sel_float01{float:left; margin:0 4px 0 0;}
.search_sel_float02{float:left;}

.searchbar_hyphen{float:left; position:relative; width:10px; margin:0 10px; line-height:18px; font-size:12px; color:#35414a; text-align:center;}

.searchbar03_dl{float:right; position:relative; width:510px; height:20px; margin:0 4px 0 0;}
.searchbar03_dl dt{float:left; width:426px; margin:0 9px 0 0;}
.searchbar03_dl dd{float:right; width:64px;}
.searchbar03_dl dd .searchbar03_ul{position:relative; width:100%; overflow:hidden;}
.searchbar03_dl dd .searchbar03_ul li{float:left; width:30px; margin:0 4px 0 0;}
.searchbar03_dl dd .searchbar03_ul li.last{margin:0;}


/*------manage account------*/

/*my account and billing*/
.billing_div{position:relative; width:729px; overflow:hidden; border:1px solid #dddddd;}
.billing_tit{position:relative; width:689px; overflow:hidden; margin:0 auto; padding:10px 20px; background:#c1c9cf; font-size:14px; color:#000;}
.billing_con_div{position:relative; width:689px; overflow:hidden; margin:0 auto; padding:20px; background:#ecf2f7;}
.billing_index_p01{position:relative; width:100%; overflow:hidden; font-size:16px; font-weight:bold; color:#616368;}
.billing_index_dl01{position:relative; width:100%; overflow:hidden;}
.billing_index_dl01 dt{font-size:14px; margin:0 0 16px 0; font-weight:bold; color:#616368;}
.billing_index_dl01 dd{font-size:14px; font-weight:bold; color:#616368;}

.info_top_p01{position:relative; width:100%; height:22px; margin:0 0 12px 0; overflow:hidden; font-size:16px; color:#808080; background:url(/admin/img/buy_card_img.gif) no-repeat right 0;}
.info_top_p01 img{line-height:22px; margin:0 10px 0 0;}

.info_top_ul{position:relative; width:729px; overflow:hidden; margin:0 auto 18px auto; border:1px solid #dddddd;}
.info_top_ul li{position:relative; width:691px; border-bottom:1px solid #dddddd; padding:12px 20px; font-size:14px;}
.info_top_ul li.last{border-bottom:none;}
.info_top_ul li.info_color01{color:#000000; background:#eceff1;}
.info_top_ul li.info_color02{font-weight:bold; color:#999999;}
.info_top_ul li.info_color03{font-weight:bold; line-height:1.4; color:#999999;}
.info_top_ul li .info_top_total{position:absolute; right:12px; bottom:12px; font-size:18px; font-weight:bold; color:#000;}

.info_red_p{position:relative; width:100%; overflow:hidden; margin:0 auto 17px auto; padding:19px 50px 11px 50px; background:#fce4e4 url(/admin/img/buy_close.png) no-repeat 19px 19px; font-size:16px; color:#f73535;}

.info_con_dl{position:relative; width:100%; overflow:hidden; margin:0 auto;}
.info_con_dl dt{float:left; width:95px; margin:0 24px 0 11px; font-size:16px; color:#000; letter-spacing:-1px; line-height:36px;}
.info_con_dl dd{float:right; width:560px; overflow:hidden;}

.info_con_dl02{position:relative; width:100%; height:37px; margin:0 auto 10px auto;}
.info_con_dl02 dt{float:left; width:95px; margin:0 24px 0 11px; font-size:16px; color:#000; letter-spacing:-1px; line-height:36px;}
.info_con_dl02 dd{float:right; width:560px;}

.info_con_ul{position:relative; width:100%; overflow:hidden;}
.info_con_ul li{float:left; width:140px; margin:0 6px 10px 0;}
.info_con_ul li.last{margin:0 0 10px 0;}
.info_con_ul li.circle_close{width:242px; background:url(/admin/img/circle_close.png) no-repeat 0 center; padding:0 0 0 22px; font-size:14px; color:#f93333; line-height:36px;}

.info_con_ul02{position:relative; width:100%; overflow:hidden;}
.info_con_ul02 li{float:left; width:67px; margin:0 6px 0 0;}
.info_con_ul02 li.last{margin:0 0 10px 0;}
.info_con_ul02 li.circle_close{width:242px; background:url(/admin/img/circle_close.png) no-repeat 0 center; padding:0 0 0 22px; font-size:14px; color:#f93333; line-height:36px;}

.info_con_ul03{position:relative; width:100%;}
.info_con_ul03 li{float:left; width:140px; margin:0 6px 0 0;}
.info_con_ul03 li.last{margin:0;}

.info_con_ul04{position:relative; width:287px; overflow:hidden;}
.info_con_ul04 li{float:left; width:140px; margin:0 6px 10px 0;}
.info_con_ul04 li.differ_li{width:100%; margin:0 0 10px 0;}
.info_con_ul04 li.last{margin:0 0 10px 0;}

.info_btn_ul{position:relative; width:100%; overflow:hidden; margin:20px auto 0 auto; text-align:center;}
.info_btn_ul li{display:inline-block; text-align:center; width:180px; margin:0 10px 0 0;}
.info_btn_ul li.last{margin:0;}

.detail_div_p{position:relative; width:701px; overflow:hidden; margin:43px auto 15px auto; font-size:16px; font-weight:bold; color:#7c848d; line-height:15px; background:url(/admin/img/edit_check.gif) no-repeat 0 center; padding:0 0 0 30px;}
.absol_detail_p{position:absolute; right:0; top:0; font-size:12px; color:#808080;}

.detail_div{position:relative; width:729px; overflow:hidden; margin:0 auto; border:1px solid #dddddd;}
.detail_con_p{position:relative; width:691px; overflow:hidden; padding:14px 20px; background:#eceff1; border-bottom:1px solid #cccccc; font-weight:bold; font-size:14px; color:#000;}

.detail_con{position:relative; width:648px; overflow:hidden; margin:0 auto;}

.detail_sel_dl{position:relative; width:644px; height:78px; margin:22px auto;}
.detail_sel_dl dt{margin:0 0 10px 0;}
.detail_sel_dl dd{}

.detail_total{position:relative; width:648px; overflow:hidden; margin:0 auto 20px auto;}
.detail_total dt{padding:0 0 12px 400px; width:248px;  font-size:18px; color:#666666; font-weight:bold; line-height:1.4; background:url(/admin/img/edit_total_line.png) no-repeat right bottom; margin:0 0 20px 0; font-style:italic;}
.detail_total dd{font-size:20px; font-weight:bold; color:#090909; text-align:right;}

.detail_btn{float:right; position:relative; width:370px; overflow:hidden; margin:20px 0;}
.detail_btn li{float:left; width:180px; margin:0 10px 0 0; text-align:center;}
.detail_btn li.last{margin:0;}

.detail_txt_dl{position:relative; width:100%; overflow:hidden; margin:160px auto 50px auto;}
.detail_txt_dl dt{font-size:24px; font-weight:bold; color:#7c848d; line-height:1.4; margin:0 0 20px 0; text-align:center;}
.detail_txt_dl dd{font-size:16px; color:#7c848d; text-align:center;}

.detail_txt_bottom{position:relative; width:100%; overflow:hidden; margin:0 auto 160px auto;}
.detail_txt_bottom dt{text-align:center; margin:0 0 10px 0;}
.detail_txt_bottom dt .txt_bottom_span{font-size:14px; font-weight:bold; color:#cccccc;}
.detail_txt_bottom dd{text-align:center;}
.detail_txt_bottom dd a{font-size:20px; font-weight:bold; color:#2f96ed;}
.detail_txt_bottom dd img{margin:5px 0 0 6px;}

.detail_txt_dl02{position:relative; width:100%; overflow:hidden; margin:160px auto 50px auto;}
.detail_txt_dl02 dt{font-size:24px; font-weight:bold; color:#7c848d; line-height:1.4; margin:0 0 20px 0; text-align:center;}
.detail_txt_dl02 dd{font-size:16px; color:#7c848d; text-align:center;}

.detail_txt_bottom02{position:relative; width:100%; overflow:hidden; margin:0 auto 160px auto;}
.detail_txt_bottom02 dt{text-align:center; margin:0 0 10px 0;}
.detail_txt_bottom02 dt .txt_bottom_span{font-size:14px; font-weight:bold; color:#cccccc;}
.detail_txt_bottom02 dd{text-align:center;}
.detail_txt_bottom02 dd a{font-size:20px; font-weight:bold; color:#2f96ed;}
.detail_txt_bottom02 dd img{margin:5px 0 0 6px;}

.admin_login{position:relative; width:691px; overflow:hidden; margin:0 auto 10px auto; background:#bdcdd4 url(/admin/img/admin_login_circle.gif) no-repeat 20px center; padding:12px 20px;}
.admin_login dt{font-size:16px; color:#010101; margin:0 6px 0 0; text-indent:30px;}
.admin_login dd{font-size:14px; color:#010101; text-indent:30px;}

.admin_login_div{position:relative; width:689px; overflow:hidden; margin:0 auto; padding:20px; border:1px solid #d9d9d9; background:#fcfcfc;}

.admin_input_ul{position:relative; width:100%; overflow:hidden;}
.admin_input_ul li{float:left; width:220px;}
.admin_input_ul li.input_ul_titi{width:176px; font-size:16px; color:#000000; line-height:34px;}
.admin_input_ul li.input_ul_right_area01{width:280px; margin:0 0 0 13px;}
.admin_input_ul li.input_ul_right_area01 a{font-size:14px; color:#3399f9 !important; line-height:34px;}
.admin_input_ul li.input_ul_right_area02 {width:280px; margin:0 0 0 13px; font-size:14px; color:#f93333;}
.admin_input_ul li.input_ul_right_area03 {width:258px; margin:0 0 0 13px; padding:0 0 0 22px; font-size:14px; color:#f93333; background:url(/admin/img/circle_close.png) no-repeat 0 center; line-height:34px;}

.personal_p{position:relative; width:100%; overflow:hidden; margin:0 auto 20px auto; font-size:14px; color:#7c848d; background:url(/admin/img/personal_circle.gif) no-repeat 0 center; line-height:22px; text-indent:30px;}

.personal_con_div{position:relative; width:689px; overflow:hidden; padding:20px; border:1px solid #dadada; background:#fcfcfc;}

.personal_dl{position:relative; width:100%;}
.personal_dl dt{font-size:16px; color:#808080; margin:0 0 14px 0;}
.personal_dl dd{}
.personal_dl dd.personal_dd_100{width:399px;}

.personal_ul01{position:relative; width:100%; height:36px;}
.personal_ul01 li{float:left; width:196px; margin:0 10px 0 0;}
.personal_ul01 li.last{margin:0;}

.personal_ul02{position:relative; width:100%; height:36px;}
.personal_ul02 li{float:left; width:125px; margin:0 10px 0 0;}
.personal_ul02 li.last{margin:0;}

/*agent*/
.agent_info_top{position:relative; width:100%; overflow:hidden; margin:0 auto 34px auto;}
.agent_info_top li{float:left; width:243px; border-right:1px solid #e5e5e5;}
.agent_info_top li.last{border-right:none;}
.agent_info_top li .agent_info_top_dl{position:relative; width:100%; overflow:hidden;}
.agent_info_top li .agent_info_top_dl dt{background:#f6f8fb; text-align:center; font-size:14px; font-weight:bold; color:#000; line-height:30px;}
.agent_info_top li .agent_info_top_dl dd{font-size:30px; font-weight:bold; text-align:center; line-height:46px;}

.agent_info_top_p{position:relative; width:100%; overflow:hidden; text-align:center; color:#7f7f7f; font-size:12px;}

.agent_create{position:relative; width:100%; overflow:hidden; margin:0 auto;}
.agent_create_p{position:relative; width:709px; overflow:hidden; margin:0 auto; padding:10px; border:1px solid #d9d9d9; background:#eceff1; font-size:14px; color:#000000;}

.agent_btn_ul{float:right; position:relative; width:264px; overflow:hidden; margin:30px 0 0 0;}
.agent_btn_ul li{float:left; width:127px; margin:0 10px 0 0;}
.agent_btn_ul li.last{margin:0;}

.agent_del_p{float:right; position:relative; width:60px; overflow:hidden; margin:0 0 6px 0;}

/*error*/

/*setting*/
.setting_ul{position:relative; width:100%; overflow:hidden; margin:0 0 0 1px;}
.setting_ul li{float:left; width:166px; margin:0 12px 0 0;}
.setting_ul li.last{margin:0;}

.setting_ul02{position:relative; width:397px; overflow:hidden; margin:0 0 0 1px;}
.setting_ul02 li{float:left; width:60px; margin:0 15px 0 0;}
.setting_ul02 li.last{margin:0;}

/*------reports------*/

/*term of supporting*/
.terms_tit{position:relative; width:100%; overflow:hidden; margin:0 auto 18px auto; font-size:18px; color:#000;}

.termas_p{float:right; position:relative; width:127px; overflow:hidden; font-size:18px; color:#fff;}

/*monthly*//* 2015.06.18 | KSM | table footer */
.table_bottom_p{position:relative; width:689px; overflow:hidden; margin:0 auto 96px auto; background:#f6f8fb; font-size:14px; color:#000;border-top:none; text-indent:56px;}

/*------notice------*/

.paging{position:relative; width:100%; overflow:hidden; margin:30px auto 0 auto; text-align:center;}
.paging li{display:inline-block; margin:0 10px 0 0;}
.paging li.last{margin:0;}
.paging li.paging_a01{margin:0 20px 0 0;}
.paging li.paging_a02{margin:0 0 0 20px;}
.paging li a{font-size:12px; color:#808080;}
.paging li:hover a, .paging li.on a{color:#04a0f9;}

.notice_detail_table{position:relative; width:100%;}
.notice_detail_table th{padding:10px; font-size:14px; color:#000; font-weight:bold; border-bottom:1px solid #dddddd; text-align:left;}
.notice_detail_table th.notice_orther_color{background:#ecf2f7; border-top:1px solid #dddddd;}
.notice_detail_table th.last{border-bottom:10px solid #ecf2f7;}
.notice_detail_table td{padding:10px; font-size:12px; color:#000; font-weight:normal; line-height:1.4; border-bottom:1px solid #dddddd;}
.notice_detail_table td.notice_orther_color{background:#ecf2f7; border-top:1px solid #dddddd;}
.notice_detail_table td.last{border-bottom:10px solid #ecf2f7;}

.notice_btn_p{float:right; position:relative; width:50px; overflow:hidden; margin:10px 0 0 0;}