@charset "utf-8";

.searchbar_select{width:99%; height:18px; border:1px solid #cccccc; background:#fff; font-size:12px; color:#bfbfbf; text-indent:8px;}

.search_btn{display:block;float:left;height:18px;line-height:18px;background:url(/agent/_public/img/gradation_btn_bg.gif) repeat-x 0 0; font-size:12px; color:#fff !important; line-height:18px; text-align:center; border:1px solid #51748a;text-decoration: none;font-weight:bold;}
.search_btn:hover{background:url(/agent/_public/img/gradation_btn_bg_hover.gif) repeat-x 0 0;}