@charset "utf-8";

#wrap{position:relative; width:100%;}

#container{position:relative; width:100%; overflow:hidden; margin:0 auto;}

#container .history_header{width:780px;height:30px;background-color:#eee;}
#container .history_side{float:left;width:185px;margin-top:10px;margin-right:10px;}
#container .history_content{float:left;margin-top:10px;width:585px;}