@charset "utf-8";

.set_date_section{float:left;margin-top:5px;margin-left:5px;}
.set_date_section .set_date_hypen{margin:0;padding:0;}
.set_date_section .select_report_list{width:175px;height:350px;}

.search_btn_area{float:left;margin-top:5px;margin-left:5px;}
.search_btn_area .search_history_btn{width:45px;margin-right:5px;}
.search_btn_area .search_today_history_btn{width:75px;}

.export_btns_area{float:right;margin-top:5px;margin-right:5px;}
.export_btns_area .search_all_history_export_btn{width:150px;}

.search_side_btn_area{float:left;margin-top:5px;}
.search_side_btn_area .search_date_history_export_btn{width:180px;}

.guide_search_date{width:100%;height:18px;line-height:18px;background-color:#0A246A;color:#FFF;font-size:12px;text-align:center;font-weight:bold;}
.guide_ment{width:100%;margin-top:5px;background-color:#FFF;}
.guide_ment p{margin-bottom:5px;}

.history_title{height:18px;line-height:18px;background-color:#DDD;font-size:12px;text-align:center;font-weight:bold;color:#666;}

.history_table{width:100%; border:1px solid #dddddd; border-left:none; border-right:none; margin-top:5px;}
.history_table th{padding:10px; text-align:center; background:#eceff1; font-size:12px; color:#000000; border-bottom:1px solid #dddddd; font-weight:normal;}
.history_table td{padding:8px; text-align:left; border-right:1px solid #e5e5e5;}
.history_table td:last-child{border-right:none;}
.history_table td a{display:block; width:100%;}
.history_table td.common_table_color04{background:#ecf2f7;}
.history_table td.table03_align{text-align:center;}
.history_table tr td{text-align:center;}
.history_table tfoot tr th{background:#f6f8fb;border-bottom:1px solid #d9d9d9;border-top:1px solid #d9d9d9;font-size:14px; color:#000;}
.history_table tr.model_tfoot td{background:#f6f8fb;border-bottom:1px solid #d9d9d9;border-top:1px solid #d9d9d9;font-size:14px; color:#000;border-right:1px solid #f6f8fb;}

.report_area_btns{margin-top:5px;}
.report_area_btns .modified_report_btn{float:right;width:100px;}