@charset "utf-8";

/*btn*/
.black_btn{position:relative; width:100%; overflow:hidden; margin:0 auto;}
.black_btn li{float:left; margin:0 18px 0 0; width:176px;  background:#68d2e2;border:4px solid #68d2e2; text-align:center;}
.black_btn li.last{margin:0;}
.black_btn li a{display:block; font-size:18px; color:#fff; font-weight:bold; line-height:32px;}
.black_btn li:hover{background:#fff;border:4px solid #66cccc;}
.black_btn li:hover a{color:#2a87ef;}
.black_btn li.black_btn_orther{background:#fff; border:4px solid #66cccc;}
.black_btn li.black_btn_orther a{color:#2a87ef;}
.black_btn li.black_btn_orther:hover{border:4px solid #00c0ff;}

.overview_con_link{float:right; position:relative; overflow:hidden; background:url(/index/jp/img/overview_link_arrow.gif) no-repeat right center; padding:0 10px 0 0; margin:80px 0 0 0;}
.overview_con_link a{font-size:14px; font-weight:bold; color:#0ba3f2;}

.common_blue_btn{position:relative; width:100%; overflow:hidden; text-align:center; background:#4ea4fa;}
.common_blue_btn a{display:block; font-size:20px; font-weight:bold; color:#ffffff; line-height:54px;}
.common_blue_btn:hover{background:#486481;}

.common_red_btn{position:relative; width:100%; overflow:hidden; text-align:center; background:#f64f34;}
.common_red_btn a{display:block; font-size:20px; font-weight:bold; color:#ffffff; line-height:54px;}
.common_red_btn:hover{background:#c52a10;}

.login_link_a{color:#36a3f0 !important;}
.free_link_a{color:#4e8bf4 !important; text-decoration:underline !important; margin:0 0 0 14px !important;}

.right_blue_btn{clear:both; float:right; position:relative; width:180px; height:44px; overflow:hidden; margin:0 0 20px 0; background:#4ea4fa;}
.right_blue_btn a{display:block; color:#fff; font-size:24px; font-weight:bold; line-height:44px; text-align:center;}
.right_blue_btn:hover{background:#486481;}

.pop_link_a01{display:block; line-height:44px; text-align:center; color:#fff !important; font-size:18px; font-weight:bold; background:url(/index/jp/img/pop_btn_bg01.gif) no-repeat 0 0;}
.pop_link_a01:hover{background:#c52a10;}
.pop_link_a02{display:block; line-height:44px; text-align:center; color:#fff !important; font-size:18px; font-weight:bold; background:url(/index/jp/img/pop_btn_bg02.gif) no-repeat 0 0;}
.pop_link_a02:hover{background:#454444;}

.pop_link_a03{display:block; line-height:44px; text-align:center; color:#fff !important; font-size:18px; font-weight:bold; background:url(/index/jp/img/pop_btn_bg03.gif) no-repeat 0 0;}
.pop_link_a03:hover{background:#c52a10;}

.buy_absol_btn{position:absolute; right:12px; top:12px; width:48px; height:20px; text-align:center; background:url(/index/jp/img/edit_btn.png) no-repeat 0 0;}
.buy_absol_btn a{line-height:20px; color:#fff !important;}

.edit_btn01{display:block; text-align:center; font-size:14px; color:#fff !important; line-height:31px; background:url(/index/jp/img/save_btn_bg.gif) no-repeat 0 0;}
.edit_btn01:hover{background:url(/index/jp/img/save_btn_bg_hover.gif) no-repeat 0 0;}

.edit_btn02{display:block; text-align:center; font-size:14px; color:#fff !important; line-height:31px; background:url(/index/jp/img/cancel_btn_bg.gif) no-repeat 0 0;}
.edit_btn02:hover{background:#454444;}


/*input*/
input[type=checkbox].css-checkbox {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
input[type=checkbox].css-checkbox + label.css-label {width:100%; height:25px;  display:inline-block; line-height:25px; background-repeat:no-repeat; background-position: left 0; vertical-align:middle; cursor:pointer; font-size:18px; font-weight:bold; color:#4c4c4c; letter-spacing:-1px; text-indent:30px;}
input[type=checkbox].css-checkbox:checked + label.css-label {background-position: left -25px;}
label.css-label {background-image:url(/index/jp/img/checkbox_btn.gif); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

input[type=radio].css-radio {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
input[type=radio].css-radio + label.css-label02 {width:100%; height:24px;  display:inline-block; line-height:24px; background-repeat:no-repeat; background-position: left 0; vertical-align:middle; cursor:pointer; font-size:18px; font-weight:bold; color:#4c4c4c; letter-spacing:-1px; text-indent:30px;}
input[type=radio].css-radio:checked + label.css-label02 {background-position: left -24px; color:#7ddced;}
label.css-label02 {background-image:url(/index/jp/img/img_radio.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

input[type=radio].css-radio + label.css-label03 {width:100%; height:24px;  display:inline-block; line-height:24px; background-repeat:no-repeat; background-position: left 0; vertical-align:middle; cursor:pointer; font-size:18px; font-weight:bold; color:#a5a5a5; letter-spacing:-1px; text-indent:30px;}
input[type=radio].css-radio:checked + label.css-label03 {background-position: left -24px; color:#000;}
label.css-label03 {background-image:url(/index/jp/img/img_radio.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

.help_input{width:99%; height:28px; border:1px solid #e6e6e6; background:#f6f7f8; font-size:14px; color:#b2b2b2; text-indent:8px;}
.help_input:focus{border:1px solid #4ea4fa; background:#fff;}

.login_input{width:99%; height:40px; border:1px solid #cdcdcd; background:#fff; font-size:14px; color:#333333; text-indent:8px;}
.login_input_error{width:99%; height:40px; border:1px solid #f84242; font-size:14px; color:#333333; text-indent:8px; background:#fce5e5 url(/index/jp/img/input_close.png) no-repeat 96% center;}
.login_input_check{width:99%; height:40px; border:1px solid #cdcdcd; font-size:14px; color:#333333; text-indent:8px; background:#fff url(/index/jp/img/input_check.png) no-repeat 96% center;}

.common_input{width:99%; height:34px; border:1px solid #cccccc; background:#fff; font-size:14px; color:#bfbfbf; text-indent:8px;}
.common_input:focus{border:1px solid #4ea4fa; background:#fff;}

.common_input_error{width:99%; height:34px; border:1px solid #e04006; background:#fde9e9; font-size:14px; color:#ff0000; text-indent:8px;}

/*textarea*/
.help_area{width:93%; height:58px; border:1px solid #e6e6e6; background:#f6f7f8; font-size:14px; color:#b2b2b2; padding:3%; resize:none; margin:0 0 30px 0;}
.help_area:focus{border:1px solid #4ea4fa; background:#fff;}


/*select01*/
.select_div01{position:relative; width:100%;}

.selectbox{position:relative; z-index:0; cursor:pointer; }
.selectbox ul{width:100%; background:#fff;}
.selectbox .selectbox_title, .selectbox ul li{overflow:hidden; position:relative; display:block; padding:5px;}
.selectbox ul li:hover{background:#eee;}
.selectbox ul li a{display:block; width:100%; height:100%;}
.selectbox ul li input{position:absolute; left:-30px;}
.selectbox ul li label,
.selectbox ul li a{font-size:18px; cursor:pointer; text-decoration:none; color:#000000; text-indent:10px;}
.selectbox{min-height:32px;}
.selectbox ul li, .selectbox ul li a{line-height:24px;}
/** border 지정 **/
.selectbox ul{border:1px solid #cccccc;}
.selectbox.on ul{border:1px solid #cccccc;}
/** 화살표 지정 **/
.selectbox ul li.on{background:url(/index/jp/img/sel_arrow01.gif) no-repeat 94% 12px;}

/*select02*/
.select_differ_div01{position:relative; width:100%;}

.selectbox_differ{position:relative; z-index:0; cursor:pointer; }
.selectbox_differ ul{width:100%; background:#fff;}
.selectbox_differ .selectbox_title, .selectbox_differ ul li{overflow:hidden; position:relative; display:block;}
.selectbox_differ ul li:hover{background:#eee;}
.selectbox_differ ul li a{display:block; width:100%; height:100%;}
.selectbox_differ ul li input{position:absolute; left:-30px;}
.selectbox_differ ul li label,
.selectbox_differ ul li a{font-size:18px; cursor:pointer; text-decoration:none; color:#000000; text-indent:10px;}
.selectbox_differ ul li a.atg{font-size:14px; cursor:pointer; text-decoration:none; color:#bfbfbf; text-indent:10px;}
.selectbox_differ{min-height:34px;}
.selectbox_differ ul li, .selectbox_differ ul li a{line-height:34px;}
/** border 지정 **/
.selectbox_differ ul{border:1px solid #cccccc;}
.selectbox_differ.on ul{border:1px solid #cccccc;}
/** 화살표 지정 **/
.selectbox_differ ul li.on{background:url(/index/jp/img/common_selectbox_arrow.gif) no-repeat right 0;}

/* 2015.06.23 | KSM | selectbox 기반 css modified */
.selectbox_differ select{display:block;width:100%;background:#fff;font-size:18px;text-indent:10px;min-height:34px;line-height:34px;border:1px solid #ccc;}
/* 2015.06.23 | KSM | selectbox 기반 css modified */