@charset "utf-8";

#wrap{position:relative; width:100%; min-width:1080px;}
#header{position:relative; width:100%; overflow:hidden; margin:0 auto;}
#header .header_top{position:relative; width:1080px; height:110px; margin:0 auto; overflow:hidden;}

#header .header_top .header_util{position:relative; width:100%; margin:0 auto 10px auto; }
#header .header_top .header_util .util_right_dl{float:right; position:relative; width:196px; overflow:hidden; margin:10px 0 0 0;}
#header .header_top .header_util .util_right_dl dt{float:left; margin:0 10px 0 0; padding:0 10px 0 0; background:url(/index/jp/img/header_top_line.gif) no-repeat right center; }
#header .header_top .header_util .util_right_dl dt a{font-size:18px; color:#2a87ef; font-family: Arial, sans-serif;}
#header .header_top .header_util .util_right_dl dd{float:right; width:125px;}
#header .header_top .header_util .util_right_dl dd a{color:#999999;}

.header_select{position:relative; width:100%; height:24px; overflow:hidden; margin:0 auto; border:none; font-size:18px; color:#999; font-family: Arial, sans-serif;}
.header_select option{font-size:14px; color:#555; text-indent:10px;}

#header .header_top .logo{float:left; position:relative; width:200px; height:60px; overflow:hidden; margin:28px 0 14px 10px; z-index:3000;}
#header .header_top .logo a{display:block;}

/*gnb*/
#gnb{float:right; position:relative; width:508px; overflow:hidden; margin:31px 0 0 0;}
#gnb .gnb{position:relative; width:100%; overflow:hidden; margin:0 auto;}
#gnb .gnb li{float:left; background:#fff;}
#gnb .gnb li a{display:block; padding:24px 18px; color:#000000; font-weight:bold; font-size:20px;}
#gnb .gnb li:hover, #gnb .gnb li.on{background:#040708;}
#gnb .gnb li:hover a, #gnb .gnb li.on a{color:#fff;}

#container{position:relative; width:100%; overflow:hidden; margin:0 auto;}
#container #main_common_content{position:relative; width:1080px; min-height:300px; overflow:hidden; margin:0 auto;}
#container #content{position:relative; width:1080px; min-height:1000px; overflow:hidden; margin:0 auto;}

#footer{position:relative; width:100%; overflow:hidden; margin:0 auto; background:#4c4c4c;}
#footer .foot{position:relative; width:1080px; overflow:hidden; margin:60px auto;  background:url(/index/jp/img/foot_logo.png) no-repeat 900px bottom;}
#footer .foot .foot_div01{float:left; position:relative; width:154px; overflow:hidden; margin:0 40px 20px 20px;}
#footer .foot .foot_div02{float:left; position:relative; width:523px; overflow:hidden; margin:0 78px 20px 0;}
#footer .foot .foot_div03{float:left; position:relative; width:245px; overflow:hidden; margin:0 20px 20px 0;}

.foot_tit_dl{position:relative; width:100%; overflow:hidden;}
.foot_tit_dl dt{font-size:14px; font-weight:bold; color:#cdcdcd; margin:0 0 20px 0; font-family: Arial, sans-serif;}
.foot_tit_dl dd{overflow:hidden;}
.foot_tit_dl dd .foot_follow_ul{position:relative; width:100%; overflow:hidden;}
.foot_tit_dl dd .foot_follow_ul li{float:left; margin:0 2px 0 0;}
.foot_tit_dl dd .foot_follow_ul li:last-child{margin:0;}

.foot_site_ul{position:relative; width:100%; overflow:hidden; margin:0 auto;}
.foot_site_ul li{float:left; width:94px; margin:0 38px 0 0; overflow:hidden; font-size:14px; font-weight:bold; color:#cdcdcd; font-family: Arial, sans-serif;}
.foot_site_ul li.big_foot_site_ul{width:120px;}
.foot_site_ul li:last-child{margin:0;}
.foot_site_ul li > .foot_sitemap{position:relative; width:100%; overflow:hidden; margin:10px 0 0 0;}
.foot_site_ul li > .foot_sitemap > li{width:100%; margin:0;}
.foot_site_ul li > .foot_sitemap > li > a{color:#cccccc; font-size:11px; line-height:1.6; font-family: 'ＭＳ Ｐゴシック';}

.foot_app{position:relative; width:100%; overflow:hidden; margin:0 auto;}
.foot_app li{float:left; margin:0 13px 0 0;}
.foot_app li:last-child{margin:0;}

.foot_under_ul{position:relative; width:500px; overflow:hidden; margin:0 auto;}
.foot_under_ul li{float:left; margin:0 10px 0 0; padding:0 10px 0 0; background:url(/index/jp/img/foot_under_line.gif) no-repeat right center; font-size:14px; font-weight:bold; color:#76797c; letter-spacing:-1px;}
.foot_under_ul li:last-child{margin:0; padding:0; background:none;}
.foot_under_ul li a{font-size:14px; font-weight:bold; color:#76797c; letter-spacing:-1px;}

/*black bar*/
.common_black_bar{position:relative; width:100%; overflow:hidden; margin:0 auto; background:#000; z-index:2000;}
.common_black_bar .black_bar_1080{position:relative; width:1080px; overflow:hidden; margin:0 auto;}
.black_dl01{position:relative; width:100%; overflow:hidden; margin:0 auto;}
.black_dl01 dt{float:left; width:639px; color:#fff; font-size:20px; text-indent:20px; line-height:100px;}
.black_dl01 dd{float:right; width:441px; overflow:hidden; padding:30px 0;}

.blackFixed{position:fixed; left:0; top: 0px;}

/*location*/
.header_sub_gray_bar{position:relative; width:100%; overflow:hidden; background:#e6e6e6; border-top:1px solid #fff;}
.header_sub_gray_bar .location{position:relative; width:1060px; overflow:hidden; margin:0 auto; padding:8px 0;}
/*.header_sub_gray_bar .location li{float:left; margin:0 10px 0 0; padding:0 10px 0; background:url(/index/jp/img/location_line.gif) no-repeat right center; font-size:14px; color:#808080; font-weight:bold;}
.header_sub_gray_bar .location li:last-child{background:none; margin:0; padding:0;}*/
.header_sub_gray_bar .location li.location_on{color:#0b0b0b;}

/*dim*/
.fixed_dim{position:fixed; left:0; top:0; width:100%; height:100%; background:url(/index/jp/img/dim_bg.png) repeat 0 0; z-index:6000;}

/*different sub visual*/
.different_sub_visual{position:relative; width:100%; height:131px; overflow:hidden; margin:0 auto; background:url(/index/jp/img/common_sub_visual.jpg) no-repeat center 0;}
.different_sub_visual .sub_visual_dl{position:relative; width:580px; overflow:hidden; margin:21px auto 0 auto;}
.different_sub_visual .sub_visual_dl dt{font-size:30px; color:#ffffff;}
.different_sub_visual .sub_visual_dl dd{font-size:18px; color:#ffffff;}

/*different layout*/
#header03{position:relative; width:100%; overflow:hidden; margin:0 auto;}
#header03 .header_top03{position:relative; width:880px; height:100px; margin:0 auto; overflow:hidden;}
#header03 .header_top03 .logo03{float:left; position:relative; width:200px; height:60px; overflow:hidden; margin:28px 0 14px 10px; z-index:3000;}
#header03 .header_top03 .logo03 a{display:block;}

#footer02{position:relative; width:100%; overflow:hidden; margin:0 auto; background:#ebebeb;}
#footer02 .foot02{position:relative; width:1080px; overflow:hidden; margin:16px auto;}
#footer02 .foot02 .foot02_ul{position:relative; width:100%; overflow:hidden; margin:0 auto; text-align:center;}
#footer02 .foot02 .foot02_ul li{display:inline-block; margin:0 14px 0 0; padding:0 14px 0 0; background:url(/index/jp/img/different_foot_line.gif) no-repeat right center;}
#footer02 .foot02 .foot02_ul li.last{margin:0; padding:0; background:none;}
#footer02 .foot02 .foot02_ul li a{color:#808080; font-size:12px; font-family: Arial, sans-serif;}


/*location 수정 */
.header_sub_gray_bar .location li{float:left; margin:0 0px 0 0; padding:0 5px 0; background:url(/index/en/img/location_line.gif) no-repeat right center; font-size:14px; color:#808080; font-weight:bold;}
.header_sub_gray_bar .location li:last-child{background:none; /*margin:0; padding:0;*/}