@charset "utf-8";

/*main visual*/
#slider{position:relative; width:100%; height:551px; overflow:hidden; margin:0 auto; border-top:2px solid #e6e6e6;}
.slide-wrap {position:relative; /*width:1080px;*/ width:100%; height:551px; overflow:hidden; margin:0 auto;}
.bx-wrapper{height:551px;}
ul.bxslider{position:relative; width:100%; overflow:hidden;}
ul.bxslider li{float:left; position:relative; /*width:1080px;*/ width:100%; height:551px;}
.main_visual_li01{background:#c0c0c0 url(/index/jp/img/new_main_visual_01.png) no-repeat center 0;}
.main_visual_li02{background:#e7f4ff url(/index/jp/img/new_main_visual_02.png) no-repeat center 0;}
.main_visual_li03{background:#fefefe url(/index/jp/img/new_main_visual_03.png) no-repeat center 0;}

.main_visual_con_div{position:relative; width:1080px; margin:0 auto;}

.main_visual_dl{position:absolute; left:20px; top:65px;}
/*.main_visual_dl dt{font-size:48px; font-weight:bold; color:#1a1a1a; margin:0 0 26px 0; letter-spacing:-1px;}
.main_visual_dl dd{font-size:24px; color:#1a1a1a; letter-spacing:-1px;}*/
.main_visual_dl dd .main_visual_italic{font-style:italic; font-size:20px; font-weight:bold; letter-spacing:-1px;}

.bx-controls-direction a{position:absolute; bottom:190px;}
.bx-prev{display:inline-block; left:50%; margin:0 0 0 -530px; width:19px; height:37px;font-size:0px !important; letter-spacing:-9999px; line-height:0; background:url(/index/jp/img/main_visual_left_arrow.png) no-repeat; z-index:10;}
.bx-next{display:inline-block; right:50%; margin:0 -530px 0 0; width:19px; height:37px; font-size:0px !important; letter-spacing:-9999px; line-height:0; background:url(/index/jp/img/main_visual_right_arrow.png) no-repeat; z-index:10;}

#slider .bx-pager{position:absolute; right:50%; bottom:26px; z-index:80; margin:0 -530px 0 0;}
#slider .bx-pager .bx-pager-item, #slider .bx-controls-auto .bx-controls-auto-item {display: inline-block; *zoom: 1; *display: inline; }
#slider .bx-pager.bx-default-pager a {text-indent:9999px; display: block; width:12px; height:12px; background:url(/index/jp/img/main_visual_pager.png) no-repeat; margin:0 6px;}
#slider .bx-pager.bx-default-pager a.active {width:12px; height:12px; background:url(/index/jp/img/main_visual_pager_on.png) no-repeat;}

.visual_search_con{position:relative; width:1080px; margin:0 auto;}
.visual_search{position:absolute; left:20px; top:250px; width:530px; height:50px; background:url(/index/jp/img/main_visual_input_bg.png) no-repeat 0 0; z-index:100;}
.visual_search .main_visual_search{position:relative; width:524px; height:42px; overflow:hidden; margin:4px;}
.visual_search .main_visual_search dt{float:left; width:219px; margin:0 0 0 50px;}
.visual_search .main_visual_search dt > input{width:219px; height:42px; border:none; font-size:20px; font-weight:bold; color:#b2b2b2; line-height:42px;}
.visual_search .main_visual_search dd{float:right; width:255px;}
.visual_search .main_visual_search dd a{display:block; text-align:center; line-height:42px; font-size:20px; font-weight:bold; color:#fff;}

/*main middle content*/
.main_underline_div{position:relative; width:100%; overflow:hidden; margin:0 auto; border-bottom:1px solid #f6f6f6;}

.main_middle_con{position:relative; width:1002px; overflow:hidden; margin:60px auto;}
.main_middle_con li{float:left; width:495px; margin:0 12px 0 0;}
.main_middle_con li.last{margin:0;}
.main_middle_con li .main_middle_img{position:relative; width:100%; overflow:hidden;}
.main_middle_con li .main_middle_img .main_middle_img_dl{position:relative; width:100%; overflow:hidden; background:#f3f3f3;}
.main_middle_con li .main_middle_img .main_middle_img_dl dt{position:relative; width:100%; text-align:center;}
/*
.main_middle_con li .main_middle_img .main_middle_img_dl dt:hover{background:#f3f3f3;}
.main_middle_con li .main_middle_img .main_middle_img_dl dt:hover .main_middle_hover_div{display:block;}
*/
/*.main_middle_con li .main_middle_img .main_middle_img_dl dd{line-height:59px; font-size:32px; font-weight:bold; border-top:3px solid #d3d4d3; text-align:center;}
*/
.main_middle_con li .main_middle_img .main_middle_img_dl dd.main_middle_bg01{background:#68d2e2; color:#007795;}
.main_middle_con li .main_middle_img .main_middle_img_dl dd.main_middle_bg02{background:#45b9f8; color:#fff;}

.main_middle_con li .main_middle_dl{position:relative; width:405px; border:1px solid #68d2e2; border-top:none; padding:30px 44px;}
.main_middle_con li .main_middle_dl dt{text-align:center; margin:0 0 20px 0;}
/*.main_middle_con li .main_middle_dl dd{color:#868686; font-size:20px; letter-spacing:-1px;}*/
.main_middle_con li .main_middle_dl dd .main_middle_dl_span{font-size:24px;}
.main_middle_con li .main_middle_dl dd .main_middle_blue_link{font-size:18px; color:#4e9bf0; margin:0 0 0 4px;}

.main_middle_hover_div{/*display:none;*/ position:absolute; left:0; top:0; width:495px; height:309px;}
.main_middle_hover_div .middle_label_dl{position:absolute; left:20px; top:0; width:120px; height:120px; background:url(/index/jp/img/main_top_red_bg.png) no-repeat 0 0;}
.main_middle_hover_div .middle_label_dl dt{color:#fff; font-size:32px; font-weight:bold; margin:6px 0;}
.main_middle_hover_div .middle_label_dl dd{color:#fff; font-size:14px !important; border:none !important; line-height:1.4 !important; text-align:left !important; text-indent:20px !important;}
.main_middle_hover_div .middle_hover_p{position:absolute; right:38px; top:10px;}

/*middle visual*/
#slider02{position:relative; width:1080px; height:299px; overflow:hidden; margin:0 auto;}
.slide-wrap02 {position:relative; width:100%; height:299px; overflow:hidden;}
.bx-wrapper02{height:299px;}
ul.bxslider02{position:relative; width:100%; overflow:hidden;}
ul.bxslider02 li{float:left; position:relative; width:1080px; height:299px;}

ul.bxslider02 li .middle_slide_div01{position:absolute; right:128px; top:60px;}
ul.bxslider02 li .middle_slide_div02{position:absolute; left:100px; top:60px;}
ul.bxslider02 li .middle_slide_div03{position:absolute; right:103px; top:60px;}

.middle_slide_icon{position:relative; width:100%; overflow:hidden; margin:0 0 10px 0;}
.middle_visual_dl{position:relative; width:100%; overflow:hidden;}
.middle_visual_dl dt{font-size:24px; font-weight:bold; color:#000000; letter-spacing:-1px; line-height:1.2; margin:0 0 14px 0;}
/*.middle_visual_dl dd{font-size:12px; color:#808080; line-height:1;}*/

.bx-controls-direction02 a{position:absolute; top:122px;}
.bx-prev02{display:inline-block; left:24px; width:29px; height:57px;font-size:0px !important; letter-spacing:-9999px; line-height:0; background:url(/index/jp/img/main_middle_visual_arrow_left.png) no-repeat; z-index:10;}
.bx-next02{display:inline-block; right:24px; width:29px; height:57px; font-size:0px !important; letter-spacing:-9999px; line-height:0; background:url(/index/jp/img/main_middle_visual_arrow_right.png) no-repeat; z-index:10;}

#slider02 .bx-pager02{position:absolute; left:504px; bottom:26px; z-index:80;}
#slider02 .bx-pager02 .bx-pager-item02, #slider02 .bx-controls-auto02 .bx-controls-auto-item02 {display: inline-block; *zoom: 1; *display: inline; }
#slider02 .bx-pager02.bx-default-pager02 a {text-indent:9999px; display: block; width:8px; height:8px; background:url(/index/jp/img/main_middle_visual_pager.png) no-repeat; margin:0 6px;}
#slider02 .bx-pager02.bx-default-pager02 a.active {width:8px; height:8px; background:url(/index/jp/img/main_middle_visual_pager_on.png) no-repeat;}

.main_gray_div{position:relative; width:100%; overflow:hidden; margin:0 auto; background:#f6f6f6;}
.main_gray_div .main_gray_content{position:relative; width:1080px; height:856px; overflow:hidden; margin:0 auto; background:url(/index/jp/img/main_middle_img01.gif) no-repeat right 60px;}

.gray_dl{position:relative; width:1040px; overflow:hidden; margin:60px 20px 40px 20px;}
/*.gray_dl dt{font-size:42px; font-weight:bold; color:#000000; margin:0 0 16px 0; letter-spacing:-1px;}
.gray_dl dd{font-size:30px; color:#808080; letter-spacing:-1px;}*/

.gray_con_ul{position:relative; width:1040px; overflow:hidden; margin:0 auto;}
/*.gray_con_ul li{position:relative; font-size:24px; color:#666666; font-weight:bold; font-style:italic; line-height:1.8; background:url(/index/jp/img/main_check_circle.png) no-repeat left 11px; padding:0 0 0 24px;}
.gray_con_ul li .normal_gray{font-size:20px; font-weight:normal; font-style:normal; color:#000;}
.gray_con_ul li .gray_ul_percent{position:absolute; left:320px; top:0; width:212px; height:38px; background:url(/index/jp/img/main-percent_img.gif) no-repeat  0 0; font-size:24px; font-weight:bold; color:#000000; text-indent:126px;}
*/
.gray_icon_dl{position:relative; width:1040px; overflow:hidden; margin:0 20px;}
.gray_icon_dl dt{overflow:hidden;}
.gray_icon_dl dt .gray_icon_ul{position:relative; width:100%; overflow:hidden; margin:0 0 18px 0;}
.gray_icon_dl dt .gray_icon_ul li{float:left; margin:0 6px 0 0;}
.gray_icon_dl dt .gray_icon_ul li.phone_icon{margin:0 6px 0 20px;}
.gray_icon_dl dd{}
.gray_icon_dl dd a{font-size:18px; color:#4e9bf0; font-weight:bold;}

.main_bottom_content{position:relative; width:657px; overflow:hidden; padding:0 0 0 423px; margin:60px 0; background:url(/index/jp/img/main_bottom_img01.gif) no-repeat 0 0;}
/*.main_bottom_content .main_bottom_p{position:relative; width:100%; overflow:hidden; margin:0 auto 50px auto; font-size:42px; color:#000000; font-weight:bold;}*/

.main_bottom_content .main_bottom_ul{position:relative; width:100%; overflow:hidden; margin:0 auto;}
.main_bottom_content .main_bottom_ul li{margin:0 0 14px 0;}
.main_bottom_content .main_bottom_ul li:last-child{margin:0;}

.main_bottom_dl{position:relative; width:100%; overflow:hidden; margin:0 auto;}
.main_bottom_dl dt{font-size:22px; font-weight:bold; color:#666666; margin:0 0 6px 0; background:url(/index/jp/img/main_skyblue_dot.gif) no-repeat 0 10px; padding:0 0 0 20px; letter-spacing:-1px;}
.main_bottom_dl dd{padding:0 0 0 20px; font-size:14px; color:#666666; line-height:1.2; letter-spacing:-1px;}

.bottom_banner{position:relative; width:100%; overflow:hidden; margin:0 auto; background:#dfdfdf;}
.bottom_banner_ul{position:relative; width:970px; overflow:hidden; margin:0 auto; padding:20px 0;}
.bottom_banner_ul li{float:left; margin:0 38px 0 0;}
.bottom_banner_ul li.last{margin:0;}


/*main visual text-style revised*/
.main_visual_dl dt{font-size:48px; color:#1a1a1a; margin:0 0 26px 0; letter-spacing:-1px;}
.main_visual_dl dd{font-size:20px; color:#1a1a1a; letter-spacing:-1px; line-height:24px;}
.main_middle_con li .main_middle_dl dd{color:#868686; font-size:16px; letter-spacing:0px;}
.main_middle_con li .main_middle_img .main_middle_img_dl dd{line-height:59px; font-size:24px; font-weight:bold; border-top:3px solid #d3d4d3; text-align:center;}

/*Second visual text-style revised*/
.middle_visual_dl dd{font-size:12px; color:#808080; line-height:1.4;}

/*index why use anysupport text-style revised*/
.gray_dl dt{font-size:28px; font-weight:bold; color:#000000; margin:0 0 16px 0; letter-spacing:-1px;}
.gray_dl dd{font-size:22px; color:#808080; letter-spacing:0px;}
.gray_con_ul li{position:relative; font-size:18px; color:#666666; font-weight:bold; font-style:italic; line-height:2.6; background:url(/index/en/img/main_check_circle.png) no-repeat left 11px; padding:0 0 0 28px;}
.gray_con_ul li .normal_gray{font-size:20px; font-weight:normal; font-style:normal; color:#000;}
.gray_con_ul li .gray_ul_percent{position:absolute; left:260px; top:0; width:212px; height:38px; background:url(/index/en/img/main-percent_img.gif) no-repeat  0 0; font-size:19px; font-weight:bold; color:#000000; text-indent:126px;}


/*index Who's using anysupport text-style revised*/
.main_bottom_content .main_bottom_p{position:relative; width:100%; overflow:hidden; margin:0 auto 50px auto; font-size:34px; color:#000000; font-weight:bold;}