@charset "utf-8";

/*------common------*/
.etc_big_tit{position:relative; width:100%; overflow:hidden; text-align:right; font-size:48px; font-weight:bold; color:#000; margin:25px 0;}
.etc_con_tit{position:relative; width:100%; overflow:hidden; margin:0 auto 22px auto; font-size:20px; font-weight:bold; color:#000;}
.etc_con_p{position:relative; width:100%; overflow:hidden; margin:0 auto 60px auto; font-size:15px; color:#272727; line-height:1.4;}
.etc_link_a{color:#00a3ff !important;}

/*------policy------*/
.policy_div{position:relative; width:680px; overflow:hidden; margin:0 auto;}


/*------service------*/
.service_div{position:relative; width:680px; overflow:hidden; margin:0 auto;}

.etc_con_tit{position:relative; width:100%; overflow:hidden; margin:0 auto 15px auto; font-size:20px; font-weight:bold; color:#000;}
.etc_con_tit_small{position:relative; width:100%; overflow:hidden; font-size:15px;color:#000; margin:0 0 10px 0;}
.etc_con_italic_p{position:relative; width:100%; overflow:hidden; margin:0 auto 60px auto; font-size:15px; color:#272727; line-height:1.4; font-style:italic;}
.etc_ul{position:relative; width:100%; overflow:hidden; margin:0 auto 60px auto;}
.etc_ul li{font-size:15px; color:#272727; line-height:1.4; list-style:decimal; margin:0 0 0 40px;}