<?php
include_once($_SERVER['DOCUMENT_ROOT']."/agent/_func/function.agent_common.php");

//
//	php session 등록 후 redirect 하면 session을 잃어버림
//	따라서 가짜 dumy용 index.php를 거친다
//


//$sptid = "wsjang1";//test

$sptid = $_POST["userid"];
if($_POST["userid"] == NULL){
	$sptid = $_GET["userid"];
}


include_once("../header.php");

$page = array(
	"REAL_INDEX" => "/agent/history/search_history.php"
);
?>
<form name="redirect_search_history" method="post" action="<? echo $page["REAL_INDEX"]; ?>">
	<input type="hidden" name="sptid" value="<? echo $sptid; ?>" />
	<input type="hidden" name="start_year" value="<? echo SEARCH_START_YEAR; ?>" />
	<input type="hidden" name="start_month" value="<? echo str_pad(SEARCH_START_MONTH, "2", "0", STR_PAD_LEFT); ?>" />
	<input type="hidden" name="start_day" value="<? echo str_pad(SEARCH_START_DAY, "2", "0", STR_PAD_LEFT); ?>" />
	<input type="hidden" name="end_year" value="<? echo date('Y'); ?>" />
	<input type="hidden" name="end_month" value="<? echo date('m'); ?>" />
	<input type="hidden" name="end_day" value="<? echo date('d'); ?>" />
</form>
<script>
	document.redirect_search_history.submit();
</script>
<?
include_once("../footer.php");