@charset "utf-8";

/*kr*/
.lang_kr {font-family: 'Nanum Gothic';}
.lang_kr .foot_right_div{width:340px;}
.lang_kr .foot_menu{width:204px;}
.lang_kr .admin_pop_dl dt{font-size:20px;}
.lang_kr .detail_pop_dl02 dt{font-size:20px;}

.lang_kr .info_con_dl dt{width:115px;}
.lang_kr .info_con_dl dd{width:540px;}

.lang_kr .info_con_dl02 dt{width:115px;}
.lang_kr .info_con_dl02 dd{width:540px;}

.lang_kr .common_table02_span{letter-spacing:-1.5px;}

/*en*/
.lang_en{font-family: Arial, sans-serif;}

/*jp*/
.lang_jp{font-family:'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;}

.lang_jp .admin_center_btn{margin:0 auto 10px auto;}
.lang_jp .admin_center_bottom_p{font-size:13px;}
.lang_jp .foot_right_div{width:340px;}
.lang_jp .foot_menu{width:204px;}
.lang_jp .admin_pop_dl{margin:26px auto;}
.lang_jp .admin_pop_dl dt{font-size:18px;}
.lang_jp .admin_pop_dl dd{font-size:14px; line-height:1.4;}
.lang_jp .detail_pop_dl02 dt{font-size:20px;}

.lang_jp .info_con_dl dt{width:115px;}
.lang_jp .info_con_dl dd{width:540px;}

.lang_jp .info_con_dl02 dt{width:115px;}
.lang_jp .info_con_dl02 dd{width:540px;}

.lang_jp .common_table02_span{letter-spacing:-1.5px;}

.lang_jp .agent_create_btn{font-size:13px;}
.lang_jp .agent_list_btn{font-size:13px;}

.lang_jp .common_table01 th{ font-size:12px;}
.lang_jp .common_table02 th{ font-size:12px;}
.lang_jp .common_table03 th{ font-size:12px;}
.lang_jp .common_table04 th{ font-size:12px;}

.lang_jp .searchbar02_dl dt{ font-size:12px; line-height:18px;}

.lang_jp .searchbar_dl03{width:338px;}
.lang_jp .searchbar_dl03 dt{width:66px; font-size:12px; line-height:20px;}

.lang_jp .searchbar_dl04{width:520px;}
.lang_jp .searchbar_dl04 dt{width:66px; font-size:12px; line-height:20px;}